---
title: "CforGood au Salon Viva Technology"
date: 2016-07-26 3:43
author: allan
category: Événement
thumbnail: blog/article4/4.0.jpg
description: Début Juillet, CforGood était présent au salon Viva Technology, retour en images sur cet événement pas comme les autres.
layout: article
featured: true
---

##3 jours au Salon Viva Technology

Début Juillet, nous étions présents au Salon <a href="
http://www.vivatechnologyparis.com/" alt="" target="_blank">Viva Technology</a>. Vous en avez entendu parler ? Pas étonnant, Viva technology, c’était 5 000 startups réunies à Paris, 45 000 visiteurs sur 3 jours de folies autour de la thématique de l’innovation. C’était la première édition de ce Salon qui a souvent été comparé au <a href="
https://www.ces.tech/" alt="" target="_blank">CES</a> (Salon International de Technologie organisé à Las Vegas).

Mais si, comme chez son grand frère américain, de nombreuses innovations ont été présentées à Paris, les plus grands acteurs de l'économie dite traditionnelle ont également été conviés à participer. Ici, pas question de les opposer aux jeunes pousses. Au contraire, l'objectif a été de leurs faire rencontrer les start-up qui bousculent certes leurs habitudes, mais leur permettent aussi de se réinventer.
Parmi tous ces grands groupes, <a href="
http://www.vinci-energies.com/" alt="" target="_blank">Vinci Energies</a> et <a href="
http://www.cisco.com/c/en/us/index.html" alt="" target="_blank">Cisco</a> se voyaient accueillir les startups les plus innovantes dans le domaine de la Smart City… Et nous avons eu la chance d’en faire partie !

<%= image_tag 'blog/article4/4.1.jpg', alt: "interview d'allan floury, fondateur de cforgood" %>

##Des projets incroyables, des rencontres touchantes…

Et c’est peu de le dire, avec 45 000 personnes de passage lors du salon, on avait de quoi faire !

> “Pendant 3 jours, on a vécu dans le futur !"

Facebook était là avec son <a href="
https://research.facebook.com/ai" alt="" target="_blank">Intelligence Artificielle</a>, Google avec son <a href="
https://www.google.com/selfdrivingcar/" alt="" target="_blank">« Self Driving Project »</a> mais aussi d’autres applications beaucoup plus sociales comme <a href="
https://rogervoice.com/" alt="" target="_blank">Roger Voice</a> avec son téléphone pour malentendant. Toutes ces rencontres nous ont données de super idées pour la suite !

Mention spéciale à cette photo qui nous a touché : Où quand le futur rencontre le futur :)

<%= image_tag 'blog/article4/4.2.jpg', alt: 'Jeune fille face à un robot' %>

On a effectivement croisé de beaux projets, mais aussi de belles personnes ! Non, ici on ne vous parle pas des François Hollande ou Emmanuel Macron qui sont passés faire coucou, mais plutôt de Jimmy Wales, fondateur de <a href="
https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal" alt="" target="_blank">Wikipédia</a>, Vincent Ricordeau, co-fondateur de <a href="
https://www.kisskissbankbank.com/" alt="" target="_blank">KissKissBankBank</a>, et beaucoup d’autres amis de notre chère économie collaborative !

Trop d'infos ou d'émotions à encaisser ? Pas de problème, Google avait tout prévu et animait des ateliers Yoga pour faire le vide et se remettre d'aplomb.

<%= image_tag 'blog/article4/4.3.jpg', alt: 'atelier yoga animé par google' %>


## … Et des collaborations naissantes !

Dans toute cette agitation, on a eu le plaisir de pitcher CforGood auprès d'Yves Meignié, le PDG de Vinci Energies et beaucoup d’autres. De très bons retours, des prémisses de collaborations et une superbe expérience pour nous, car on est convaincu que les entreprises ont un rôle à jouer pour favoriser les comportements responsables de leurs employés… Et dans toute cette histoire, on compte bien les y aider ;)

<%= image_tag 'blog/article4/4.4.jpg', alt: 'rencontre entre allan floury et yves meignié, pdg de vinci energies' %>

Hey, si tu ne le sais pas encore, CforGood, c'est la Carte de Consommation Positive qui te permet de bénéficier de réductions chez les commerces responsables autour de toi ;)

**Alors si toi aussi tu veux être l’acteur d’un quotidien plus responsable et solidaire, rejoins dès maintenant la Révolution Positive !**
