<section id="own-scale" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/business_area" %>
  </div>
  <div class="section-description">
    <h3>Je valorise mon activité et j’attire une nouvelle clientèle</h3>
    <p>Je mets en lumière mes engagements actuels sur ma page partenaire et me rends visible auprès d’une communauté sensible à la consommation responsable.</p>
    <span class="number"><i>91%</i> des français déclarent être prêt à changer de commerçant pour un plus engagé.</span>
  </div>
</section>