<header class="container">
  <div class="vision">
    <h1>Le nouveau réseau de solidarité</h1>
    <div class="vision-pros">
      <p>Enfin un moyen simple de :</p>
      <div id="changethewords">
        <i data-id="1">Valoriser vos engagements</i>
        <i data-id="2" style="display: none;">Toucher une clientèle ciblée</i>
        <i data-id="3" style="display: none;">Gérer votre activité</i>
        <i data-id="4" style="display: none;">Tout en inspirant la solidarité !</i>
      </div>
    </div>
  </div>
</header>

<div class="partner-frame-illustration">
  <ul class="partner-slideshow">
    <li><%= image_tag 'illustrations/partner/partner-illustration_1.png' %></li>
    <li><%= image_tag 'illustrations/partner/partner-illustration_3.png' %></li>
    <li><%= image_tag 'illustrations/partner/partner-illustration_2.png' %></li>
  </ul>
</div>