<section id="how-to-mobile">
  <h2>Comment ça marche ?</h2>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/partner-how-to-mobile-1.jpg' %>
    <h3>Rejoignez-nous</h3>
    <p>Inscrivez-vous gratuitement sur CforGood et valorisez vos engagements du quotidien.</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/partner-how-to-mobile-2.jpg' %>
    <h3>Créez</h3>
    <p>Saisissez vos bons plans solidaires sous la forme que vous souhaitez.</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/partner-how-to-mobile-3.jpg' %>
    <h3>Publiez</h3>
    <p>Rendez les visibles instantanément auprès de notre communauté CforGood.</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/partner-how-to-mobile-4.jpg' %>
    <h3>Profitez</h3>
    <p>Les clients affluent et développent votre activité, tout en inspirant la solidarité !</p>
  </div>
</section>