<section id="consumption" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/perks" %>
  </div>
  <div class="section-description">
    <h3>Je crée des bons plans solidaires</h3>
    <p>J'accède gratuitement à un outil innovant pour gérer mon activité à travers la création de 3 types de bons plans spécialement étudiés pour répondre à mes objectifs.</p>
  </div>
</section>