<section id="solidarity-network" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/solidarity" %>
  </div>
  <div class="section-description">
    <h3>Je participe à une véritable révolution</h3>
    <p>Mes bons plans sont exclusivement accessibles aux membres qui soutiennent une association à travers leurs abonnements. Enfin une manière simple et innovante de développer mon activité...</p><p>... Tout en inspirant la solidarité !</p>
    <span class="number hint--right" data-hint="Le pourcentage exact est déterminé en fonction du montant de votre participation mensuelle."><i>85%</i> de l'abonnement des utilisateurs est reversé à une association *</span>
  </div>
</section>