<header class="container">
  <div class="vision">
    <h1>Le nouveau réseau de solidarité</h1>
    <div class="vision-pros">
      <p>Enfin un moyen simple de :</p>
      <div id="changethewords">
        <i data-id="1">Valoriser vos engagements</i>
        <i data-id="2" style="display: none;">Toucher une clientèle ciblée</i>
        <i data-id="3" style="display: none;">Gérer votre activité</i>
        <i data-id="4" style="display: none;">Tout en inspirant la solidarité !</i>
      </div>
    </div>
  </div>
  <div class="partners-illustration">

  </div>
</header>