<script>

  // TOGGLE AUTOPLAY YOUTUBE VIDEO ON MODAL OPENING/CLOSING
  jQuery(document).ready(function(){
    //LAUNCH FUCTION AUTOPLAY
    autoPlayYouTubeModal();
    //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
    function autoPlayYouTubeModal() {
      var trigger = $("#video").find('[data-toggle="video-modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
           $('.modal-close').click(function(e) {
              $('#modal-video').removeClass('is-visible');
              //$('.modal-backdrop').remove();
              //$('body').removeClass('modal-open');
              $(theModal + ' iframe').attr('src', videoSRC);
            });
          $('#modal-video').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
    }
  });


  // HOME ////////////////////////////////////////////////////////////////////////
  $(document).on('ready', function() {
    $(function() {
      $("#changethewords").changeWords({
        time: 3500,
        animate: "fadeInUp",
        selector: "i"
      });
    });
  });

  jQuery(document).ready(function(){

    // LAUNCH MODAL
    $('#video-launcher').click(function(e) {
      $('#modal-video').toggleClass('is-visible');
    });

    // CHANGETHEWORDS

    $(function() {
      $("#changethewords").changeWords({
        time: 3500,
        animate: "fadeInUp",
        selector: "i"
      });
    });

    // SLICK

    $('.vision-slick').slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 600,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 4000,
      slidesToScroll: 1,
      slidesToShow: 1
    });

    $('.articles-carousel').slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      responsive: [
        {
          breakpoint: 964,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        }
      ]
    });

    $('.testimonials-carousel').slick({
      dots: true,
      arrows: false,
      infinite: true,
      autoplay: true,
      speed: 600,
      slidesToShow: 4,
      responsive: [
        {
          breakpoint: 964,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        }
      ]
    });
  });


  // SWITCH DEVICE ON CLICK
  $('#switcher-desktop').click(function(e) {
    $('.how-to-browser').toggleClass('browser-is-hidden');
    $('.how-to-mobile').toggleClass('mobile-is-visible');
    $('#switcher-desktop').toggleClass('icon-is-hidden');
    $('#switcher-mobile').toggleClass('icon-is-hidden');
    e.preventDefault() /*ignores actual link*/
  });

  // SWITCH DEVICE ON CLICK
  $('#switcher-mobile').click(function(e) {
    $('.how-to-browser').toggleClass('browser-is-hidden');
    $('.how-to-mobile').toggleClass('mobile-is-visible');
    $('#switcher-desktop').toggleClass('icon-is-hidden');
    $('#switcher-mobile').toggleClass('icon-is-hidden');
    e.preventDefault() /*ignores actual link*/
  });

  // TOGGLE HIGHLIGHT SPECIFIC
  $('#specifics-list li').click(function(e) {
    $(this).siblings('li').removeClass('active');
    $(this).closest('li').addClass('active');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 1
  $('#specific-1').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-1 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 2
  $('#specific-2').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-2 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 3
  $('#specific-3').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-3 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // SHOW IMAGE FOR SPECIFC 4
  $('#specific-4').click(function(e) {
    $('#specifics-images-list li img').removeClass('showing');
    $('#specific-image-4 img').addClass('showing');
    e.preventDefault() /*ignores actual link*/
  });

  // BUTTON RIPPLE EFFECT
  jQuery(document).ready(function($, window, document, undefined) {

    'use strict';

    var $ripple = $('.js-ripple');

    $ripple.on('click.ui.ripple', function(e) {
      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.ripple-circle');

      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;

      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });

      $this.addClass('is-active');
    });

    $ripple.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function(e) {
      $(this).removeClass('is-active');
    });
  });

  var ias = jQuery.ias({
    container:  '.all-posts',
    item:       '.post',
    pagination: '#pagination',
    next:       '.next'
  });

  // BLOG ////////////////////////////////////////////////////////////////////////

  // Trigger
  ias.extension(new IASTriggerExtension({text: "Plus d'articles", offset: 1}));
  // Add a text when there are no more pages left to load
  ias.extension(new IASNoneLeftExtension({text: "Continuez votre lecture sur <a href='https://medium.com/@CforGood'>Medium</a>"}));

  $(function() {
    $('li').each(function() {
      $(this).readingTime({
        readingTimeTarget: $(this).find('.eta'),
        remotePath: $(this).attr('data-file'),
        remoteTarget: $(this).attr('data-target')
      });
    });
  });

  var mn = $('#nav-categories');
      mns = "nav-categories-scrolled";

  $(window).scroll(function() {
    if( $(this).scrollTop() > 530 ) {
      mn.addClass(mns);
    } else {
      mn.removeClass(mns);
    }
  });

  // RESPONIVE ////////////////////////////////////////////////////////////////////////

  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 767px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }

  // media query change
  function WidthChange(mq) {
    if (mq.matches) {
      //
    } else {
      $('#how-to').remove();
    }
  }



</script>