<section id="call-to-action">
  <div class="cta-container">
    <a href="https://app.cforgood.com/signup">
      <button id="switcher" class="cta-home" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        Je rejoins la révolution positive
      </button>
    </a>
  </div>
</section>