<section id="no-download" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/signet_iphone" %>
  </div>
  <div class="section-description">
    <h2>Accessible partout, tout le temps.</h2>
    <p>CforGood est directement accessible depuis le navigateur internet de votre ordinateur et/ou smartphone favoris !</p>
    <ul>
      <li><%= partial "shared/svg/check" %> Rien à télécharger/mettre à jour</li>
      <li><%= partial "shared/svg/check" %> Compatible avec tous les navigateurs (Chrome, Safari...)</li>
      <li><%= partial "shared/svg/check" %> Ajoutez un raccoucis sur votre écran d'acceuil !</li>
    </ul>
  </div>
</section>