<section id="video">
  <h2>Rejoignez la Révolution Positive</h2>
  <p>CforGood a pour mission de favoriser la consommation positive,<br> 
  Pour cela, elle connecte en temps réel les citoyens aux commerçants responsables autour d’eux, qui offrent des réductions exclusives pour faire découvrir ou vendre à temps leurs produits.</p>
  <% data.videos.each do |video| %>
    <button id="video-launcher" class="video-launcher" type="button" data-toggle="video-modal" data-target="#modal-video" data-theVideo="<%= video.video_url %>">
      <div class="ripple-area js-ripple">
        <span class="ripple-circle"></span>
      </div>
      Voir la vidéo <%= partial "shared/svg/play" %>
    </button>
  <% end %>
  <%= partial "web/modals/modal_video" %>
</section>