<section id="causes-how-to">
  <h2>Comment ça marche ?</h2>
  <ul>
    <li>
      <span>1</span>
      <h3>Étape de validation</h3>
      <p>L'équipe de CforGood valide le respect des 3 critères de votre projet</p>
    </li>
    <li>
      <span>2</span>
      <h3>Étape de sélection</h3>
      <p>Elle choisit les associations les plus pertinentes et mobilisées. Prochainement, c’est bien la communauté qui choisira les projets à soutenir.</p>
    </li>
    <li>
      <span>3</span>
      <h3>Financement par toute la communauté</h3>
      <p>Votre page association est créée sur notre site et tous les utilisateurs de CforGood peuvent vous reverser leurs participations !</p>
    </li>
  </ul>
</section>