<section class="main-block first-block">
  <div class="section-icon">
    <%= partial "shared/svg/discover" %>
  </div>
  <div class="section-description">
    <h3>Un moyen original pour votre communauté de vous soutenir</h3>
    <p>Aujourd'hui, beaucoup de projets sollicitent un soutien financier auprès de leur communauté. Avec CforGood, vous leur proposez une manière simple et valorisante de vous soutenir sur la durée.</p>
  </div>
</section>

<section class="main-block second-block">
  <div class="section-icon">
    <%= partial "shared/svg/discover" %>
  </div>
  <div class="section-description">
    <h3>Fédérez votre communauté</h3>
    <p>Vos utilisateurs pourront vous soutenir directement via une page spécifiquement dédiée à votre projet.</p>
  </div>
</section>

<section class="main-block third-block">
  <div class="section-icon">
    <%= partial "shared/svg/discover" %>
  </div>
  <div class="section-description">
    <h3>Gagnez de la visibilité</h3>
    <p>Un projet soutenu par CforGood acquière une belle visibilité et vous permet de le faire grandir plus rapidement !</p>
  </div>
</section>