<section id="video" class="container">
  <h2>Rejoignez la Révolution Positive</h2>
  <p>CforGood permet de financer des associations locales et globales, en offrant l'opportunité à ses abonnés de reverser leur abonnement à la cause de leur choix. Ainsi, chaque membre CforGood devient le parrain d'une association et a un impact bien au delà de sa consommation.</p>
  <% data.videos.each do |video| %>
    <button id="video-launcher" class="video-launcher" type="button" data-toggle="video-modal" data-target="#modal-video" data-theVideo="<%= video.video_url %>">
      <div class="ripple-area js-ripple">
        <span class="ripple-circle"></span>
      </div>
      Voir la vidéo <%= partial "shared/svg/play" %>
    </button>
  <% end %>
  <%= partial "web/modals/modal_video" %>
</section>