<section id="call-to-action">
  <div class="cta-container">
    <a href="https://cforgood1.typeform.com/to/PdisGd">
      <button id="switcher" class="cta-home" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        Je propose mon association
      </button>
    </a>
  </div>
</section>