<section id="causes-selection">
  <h2>3 critères de sélection</h2>
  <ul>
    <li>
      <%= image_tag "causes/causes-selection-1.svg" %>
      <h3>Une thématique sociale, environnementale ou culturelle</h3>
      <p>Le but principal de CforGood est de maximiser l'impact local de chacun des acteurs autour de valeurs communes.</p>
      </li>
    <li>
      <%= image_tag "causes/causes-selection-2.svg" %>
      <h3>Un projet déjà existant avec une structure légale créée</h3>
      <p>Pour le moment seules les associations sont admises, mais ce n’est qu’une question de temps pour les autres.</p>
    </li>
    <li>
      <%= image_tag "causes/causes-selection-3.svg" %>
      <h3>Une première communauté existante</h3>
      <p>Ceci afin d'assurer le sérieux dans les projets proposés à la communauté CforGood.</p>
    </li>
  </ul>
</section>