<section class="main-block first-block">
  <div class="section-icon">
    <%= image_tag 'causes/causes_1.png' %>
  </div>
  <div class="section-description">
    <h3>Un moyen original pour votre communauté de vous soutenir</h3>
    <p>Aujourd'hui, beaucoup de projets sollicitent un soutien financier auprès de leur communauté. Avec CforGood, vous leur proposez une manière simple et valorisante de vous soutenir sur la durée.</p>
    <span class="number hint--right" data-hint="Le pourcentage exact est déterminé en fonction du montant de la participation mensuelle."><i>85%</i> de l'abonnement est reversé à l'association*</span>
  </div>
</section>

<section class="main-block second-block">
  <div class="section-icon">
    <%= image_tag 'causes/causes_2.png' %>
  </div>
  <div class="section-description">
    <h3>Fédérez votre communauté</h3>
    <p>Vos utilisateurs pourront vous soutenir directement via une page spécifiquement dédiée à votre projet.</p>
  </div>
</section>

<section class="main-block third-block">
  <div class="section-icon">
    <%= image_tag 'causes/causes_3.png' %>
  </div>
  <div class="section-description">
    <h3>Gagnez de la visibilité</h3>
    <p>Un projet soutenu par CforGood acquière une belle visibilité et vous permet de le faire grandir plus rapidement !</p>
  </div>
</section>

<section style="text-align:center">
    <a href="https://cforgood1.typeform.com/to/PdisGd">
      <button id="switcher" class="cta-home" type="button">
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        Je propose mon association
      </button>
    </a>
</section>