<section id="video" class="container">
  <h2>Rejoignez la Révolution Positive</h2>
  <p>Grâce à une plateforme collaborative d’un nouveau genre, connectant enfin citoyens, commerçants responsables et associations, CforGood favorise les comportements positifs en offrant des réductions à ceux qui financent des associations.</p>
  <% data.videos.each do |video| %>
    <button id="video-launcher" class="video-launcher" type="button" data-toggle="video-modal" data-target="#modal-video" data-theVideo="<%= video.video_url %>">
      <div class="ripple-area js-ripple">
        <span class="ripple-circle"></span>
      </div>
      Voir la vidéo <%= partial "shared/svg/play" %>
    </button>
  <% end %>
  <%= partial "web/modals/modal_video" %>
</section>