<section id="mobile-go-to">
  <% link_to '/blog.html', class: 'go-to-item' do %>
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <div class="go-to-info">
      <h3>Blog</h3>
      <p>Découvrez nos derniers articles</p>
    </div>
  <% end %>
  <% link_to '/partenaires.html', class: 'go-to-item go-to-partners' do %>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <div class="go-to-info">
      <h3>Partenaires</h3>
      <p> Vous souhaitez nous rejoindre ?</p>
    </div>
  <% end %>
</section>