<section id="city-perks" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/perks" %>
  </div>
  <div class="section-description">
    <h3>J'accède à des réductions exclusives</h3>
    <p>En tant que membre, je bénéficie de tous les bons plans créés par les commerces responsables autour de moi, simplement en montrant ma carte CforGood.</p>
    <span class="number"><i>80+</i>bons plans responsables disponibles !</span>
  </div>
</section>