<section id="how-to-mobile">
  <h2>Comment ça marche ?</h2>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/how-to-mobile-1.jpg' %>
    <h3>Rejoignez-nous</h3>
    <p>Soutenez l'association de votre choix en leur reversant le montant de votre abonnement</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/how-to-mobile-2.jpg' %>
    <h3>Localisez</h3>
    <p>Redécouvrez votre ville en localisant les commerces responsables autour de vous.</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/how-to-mobile-3.jpg' %>
    <h3>Découvrez</h3>
    <p>Consultez les bons plans exclusifs proposés par chacun d'eux.</p>
  </div>
  <div class="how-to-mobile-item">
    <%= image_tag 'howto/how-to-mobile-4.jpg' %>
    <h3>Profitez</h3>
    <p>Profitez en simplement en montrant votre carte de membre !</p>
  </div>
</section>