<section id="own-scale" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/solidarity" %>
  </div>
  <div class="section-description">
    <h3>Je rejoins un véritable réseau de solidarité</h3>
    <p>Je deviens membre à travers une participation libre qui est reversée pour soutenir l'association de mon choix.</p>
    <span class="number hint--right" data-hint="Le pourcentage exact est déterminé en fonction du montant de votre participation mensuelle."><i>85%</i> de mon abonnement reversé à une association*</span>
  </div>
</section>