<section id="city-discovery" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/discover" %>
  </div>
  <div class="section-description">
    <h3>Je découvre ma ville autrement</h3>
    <p>Je porte un autre regard sur ma ville en découvrant des événements enthousiasmant, des associations engagées et des commerçants responsables du territoire.</p>
    <span class="number"><i>80+</i>partenaires à découvrir et rencontrer !</span>
  </div>
</section>