<section id="city-perks" class="main-block">
  <div class="section-icon">
    <%= partial "shared/svg/perks" %>
  </div>
  <div class="section-description">
    <h3>J'accède à des bons plans solidaires</h3>
    <p>En tant que membre CforGood, je bénéficie de réductions exclusives créées par les commerces responsables autour de moi.</p>
    <span class="number"><i>80+</i>bons plans responsables disponibles !</span>
  </div>
</section>