/* MAILCHIMP SPECS */

.bot-remover {
  position: absolute;
  left: -5000px;
}

/* HOME NEWSLETTER FORM */

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 20px;

    @media (max-width: 650px) {
      padding: 0 10%;
      text-align: center;
    }
  }

  form {

    #mc_embed_signup_scroll {
      display: flex;

      @media (max-width: 650px) {
        flex-direction: column;
      }

      input {
        flex: 1;
        flex-grow: 10;
        margin-right: 10px;
        padding: 10px 15px;
        border: none;
        border-radius: 2px;
      }

      input[type="email"]{
        min-width: 300px;
        color: $grey;
      }

      input[type="email"]:focus {
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 162, 194, 1);
        outline: 0 none;
      }
    }
  }
}

@media only screen and (max-width:768px){
  .newsletter-form {
    form {
      display: block;
      border: 1px solid #19A2C2;

      input {
        width: 100%;
        border-radius: 2px 2px 0 0;
        text-align: center;
      }

      button {
        width: 100%;
        padding: 10px;
        border-radius: 0 0 2px 2px;
        border: none;
      }
    }
  }
}

.newsletter-form.article {

  form {
    display: block;
    border-bottom: 1px solid #f4f4f4;
  }

  button {
    border-radius: 0;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1em;
  }
}
