.ias-noneleft {
  padding: 15px 0;
  width: 100%;
  background-color: #f4f4f4;

  font-family: "Raleway", "Helvetica", "sans-serif" !important;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

.ias-trigger-next {
  width: 100%;
  color: #fff;

  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    padding: 9px 20px;
    color: #fff;
    border-radius: 2px;
    border: none;
    max-width: 200px;
    background: transparent;
    font-family: $header-font !important;
    @include transition(background-color 150ms ease-out);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: $black;

    font-family: "Raleway", "Helvetica", "sans-serif" !important;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      background-color: $grey;
    }
  }
}