/* SECOND SECTION - 2 posts *************************************************/
  .blog-posts {
    .eta {
      display: inline-block;
    }

    img {
      width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a, a:hover, a:focus, a:active {
        width: 33.33333%;
        color: inherit;

        &:hover {

          .article-thumbnail {
            transform: scale(1.1);
          }
        }
      }

      li {
        padding: 0 2% 4em 2%;
        width: 100%;

        .frame-thumbnail {
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          height: 260px;
          overflow: hidden;

          i {
            z-index: 1;
            position: absolute;
            padding: 5px 15px;
            top: 15px;
            background-color: $turquoise;
            color: #fff;
          }

          .article-thumbnail {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 260px;
            background-size: cover;
            transition: all 0.3s ease-in-out;
          }
        }

        .article-info {
          display: flex;
          align-items: center;
          font-size: 1.3rem;

          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }