.categories-container {
  color: #f4f4f4;
  margin-bottom: -52px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  z-index: 10;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    max-width: 960px;
    margin: 0 auto;

    li {
      padding: 5px 15px;
      border-radius: 3px;

      a {
        color: #000;
        font-family: "Raleway", "Helvetica", "sans-serif";
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }
}

.blog-content {
  background-color: #fff;
}

.blog-index {
  padding-top: 600px;
}

.blog-header-block {
  position: fixed;
  width: 100%;
  height: 600px;
  top: 0;
}

.categories-container,
.all-posts,
.medium-containe {
  position: relative;
  background-color: #fff;
}

.categories-container {
  @media (max-width: 767px) {
   display: none;
  }
}

.all-posts {
  padding: 112px 0 90px;

  @media (max-width: 767px) {
    padding: 45px 0 30px;
  }
}

.nav-categories-scrolled {
  position: fixed;
  width: 100%;
  top: 70px;
  z-index: 5;
}

.medium-container {
  position: relative;
  padding: 90px 0 60px;
  border-top: 1px solid #E5E5E5;
  background-color: #fff;

  .medium-logo {
    position: absolute;
    height: 60px;
    top: -30px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .medium {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .medium-postcard {
      padding: 0 1%;
      width: 33.33333%;

      @media (max-width: 767px) {
        width: 100%;
        padding: 10px 20px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
      }
    }
  }
}

.ias-noneleft {
  padding: 15px 0;
  width: 100%;
  background-color: #f4f4f4;

  font-family: "Raleway", "Helvetica", "sans-serif" !important;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 767px) {
    display: none !important;
  }
}

.ias-trigger-next {
  width: 100%;
  color: #fff;

  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    padding: 9px 20px;
    color: #fff;
    border-radius: 2px;
    border: none;
    max-width: 200px;
    background: transparent;
    font-family: $header-font !important;
    @include transition(background-color 150ms ease-out);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: $black;

    font-family: "Raleway", "Helvetica", "sans-serif" !important;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      background-color: $grey;
    }
  }
}

.blog-index {

  .article-header:hover {
    &:after {
      opacity: 0.75;
    }
  }
}

.article-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #252b33;
    opacity: 0.35;
    transition: all 0.3s ease-in-out;
  }

  .article-header-info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    max-width: 740px;

    h1 {
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: 767px) {
        max-width: 90%;
        font-size: 1.5em;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 70%;
        font-size: 1.5em;
      }
    }

    i {
      padding: 5px 15px;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 1rem;
      color: #fff;
      opacity: 0.8;
    }

    span {
      margin: 0.3em 0 0 0;
      font-weight: 400;
      font-style: normal;
      font-size: 2.1rem;
      line-height: 3.3rem;
      letter-spacing: -.003em;
      color: #fff;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 90%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 60%;
      }
    }

    abbr {
      font-size: 0.8em;
      color: #fff;
      padding-top: 20px;

      .eta {
        display: inline-block;
      }
    }
  }

  .article-header-author {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    i {
      font-size: 1rem;
      color: #fff;
    }

    img {
      margin: 0 auto 10px;
      max-width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.article-content {
  padding: 60px 0;
  max-width: 740px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 30px 20px 60px;
  }

  h2 {
    margin: 1.8em 0 0 0;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.15em;
  }

  h3 {
    margin: 1em 0 0 0;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.22em;
    color: #a4a4a4;
  }

  ul {
    margin: 1.8em 0 0 0;
    list-style: inherit;

    li {
      margin: 0 0 1em 2rem;
      font-weight: 400;
      font-size: 2.1rem;
      line-height: 3.3rem;
      letter-spacing: -.003em;
    }
  }

  blockquote {
    padding: 0 20px;
    margin: 1.8em 0 0 0;
    font-family: "Raleway", "Helvetica", "sans-serif";
    color: #717171;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin: 1.8em 0 0 0;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1rem;
    line-height: 3.3rem;
    letter-spacing: -.003em;
  }

  img {
    width: 100%;
  }

  .article-video {
    position: relative;
    padding-bottom: 52.10%;
    margin-top: 1.8em;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.article-author {
  display: flex;
  flex-direction: column;
  padding: 0 0 60px;
  margin: 0 auto;
  max-width: 740px;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  h4 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #a4a4a4;

    &:after {
      content: "";
      background-color: #a4a4a4;
      width: 90%;
      height: 1px;
      position: absolute;
      margin-left: 14px;
      top: 7px;

      @media (max-width: 767px) {
        width: 70%;
      }
    }
  }

  .author-details {
    display: flex;
    padding: 10px 0;

    img {
      height: 90px;
      width: 90px;
      min-width: 90px;
      border-radius: 50%;
    }

    .author-info {
      padding: 0 20px;
    }
  }
}

#disqus_thread {
  padding-bottom: 60px;
  max-width: 740px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}
