header.category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 70px;
  height: 360px;
  background-size: cover;
  background-position: inherit;

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.65;
    background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
    background: -webkit-linear-gradient(left, #00C9FF 10%, #80F2A4 90%);
    background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
    z-index: 0;
  }

  h1 {
    position: relative;
    color: #fff;
    z-index: 1;
  }
}

.category-posts {
  padding: 60px 0;
}