#home-page {
  overflow: hidden;

  header {
    overflow: hidden;

     @media (min-width: 376px) {
       padding-top: 70px;
     }

    .logo {
      width: 220px;
      height: 40px;

      @media (min-width: 376px) {
       display: none;
     }
    }

    .vision {
      padding: 30px 25px 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      .vision-pros {
        padding-top: 20px;

        p {
          margin-bottom: 0;
          font-size: 1em;
        }

        i {
          font-size: 1.3em;
          font-style: inherit;
        }
      }
    }

    .frame-illustration {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20%;
        background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      }

      @media (min-width: 1025px) {
        #Frame-iPad {
          display: none;
        }

        #Frame-iphone {
          display: none;
        }
      }

      @media (min-width: 376px) and (max-width: 1024px) {
        transform: scale(1.4);

        #Frame-desktop {
          display: none;
        }

        #Frame-iphone {
          display: none;
        }
      }

      @media (max-width: 375px) {
        transform: scale(2.2);

        #Frame-desktop {
          display: none;
        }

        #Frame-iPad {
          display: none;
        }

      }

      svg {
        width: 100%;
        height: 370px;

        @media (max-width: 657px) {
          height: 360px;
        }
      }
    }
  }

  section#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 0 6% 30px;

      h2 {
        text-align: center;
      }
    }

    p {
      max-width: 570px;
      text-align: center;
    }
  }

  section#articles {
   padding: 0;
  }

  section.main-block {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    border-top: 1px solid #E5E5E5;

    @media (max-width: 650px) {
      flex-direction: column;
    }

    .section-icon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 6%;
      width: 100%;

      svg {
        max-width: 300px;
        height: 100%;
      }

      @media (max-width: 649px) {
        padding: 0 6% 6%;

        svg {
          max-width: 220px;
          height: 100%;
        }
      }

      @media (min-width: 650px) {
        padding: 0;
        width: 50%;
      }

      .see-more {
        position: relative;
        padding: 10px 43px;
        top: -18px;
        font-size: 1.2rem;
        margin-top: 20px;
        text-decoration: underline;
        background-color: #f4f4f4;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .section-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 6%;
      width: 100%;

      @media (min-width: 650px) {
        width: 50%;
      }

      span.number {
        position: relative;
        max-width: 45%;
        padding-top: 30px;
        margin-top: 20px;
        font-weight: 600;
        font-style: italic;
        font-size: 1.4rem;
        color: rgba(0,0,0,0.4);

        @media (max-width: 650px) {
          position: absolute;
          top: 0;
          max-width: 50%;
        }

        i {
          position: absolute;
          top: -10px;
          font-size: 3rem;
          font-style: initial;
          color: #000;
        }
      }
    }
  }

  section#city-discovery {
    position: relative;

    @media (max-width: 649px) {
      .section-icon{
        margin-top: 20px;
        align-items: flex-end;
      }
    }

     @media (min-width: 650px) {

      .section-icon {
        order: 2;
      }

      .section-description {
        order: 1;
      }
    }

    .modal-perks {
      position: absolute;
      background-color: rgba(255,255,255,0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  section#city-perks {
    position: relative;

    @media (max-width: 649px) {
      .section-icon{
        margin-top: 20px;
        align-items: flex-end;
      }
    }

    @media (min-width: 650px) {
      .section-icon {
        order: 1;
      }

      .section-description {
        order: 2;
      }
    }

    .modal-perks {
      position: absolute;
      background-color: rgba(255,255,255,0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  section#own-scale {
    position: relative;

    @media (max-width: 649px) {
      .section-icon{
        margin-top: 20px;
        align-items: flex-end;
      }
    }

    @media (min-width: 650px) {
      .section-icon {
        order: 2;
      }

      .section-description {
        order: 1;
      }
    }
  }


  #slinkie_1,
  #slinkie_2 {
    opacity: 0.2;
  }

  section#testimonials {
    padding: 0 0 80px;

    p {
      position: relative;
      padding: 20px;
      margin-bottom: 2.5rem;
      background-color: #7E89A3;
      color: #fff;
      border-radius: 10px;

      &:after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 15%;
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
        border-top-color: #7E89A3;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    img {
      height: 50px;
      border-radius: 50%;
    }

    .slick-dots {
      position: relative;
    }

    .witness {
      display: flex;
      padding: 0 10px;

      .witness-details {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;

        span {
          font-family: "Raleway", "Helvetica", "sans-serif";
          font-size: 1.4rem;
          font-weight: 600;
        }

        i {
          font-size: 1rem;
        }
      }
    }
  }

  section#how-to {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    border-top: 1px solid #E5E5E5;
    overflow: hidden;

    h2 {
      padding-left: 20px;
    }

    .how-to-specifics {
      position: relative;
      padding: 0 5%;
      width: 50%;
      justify-content: flex-end;

      .switch-device {
        display: flex;
        position: absolute;
        margin: 0 10% 0 0;
        top: 2px;
        right: 0;

        #switcher-mobile,
        #switcher-desktop {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        #switcher-mobile {
          margin-right: 5px;
        }

        .icon-is-hidden {
          opacity: 0.6;
        }
      }

      ul.specifics {
        li {
          padding: 20px;
          cursor: pointer;
        }

        li.active {
          background: rgba(132,146,165,.1);
          border-radius: 10px;
        }
      }
    }

    .how-to-images {
      position: relative;
      width: 50%;
      justify-content: flex-start;

      svg {
        max-height: 540px;
      }

      .how-to-mobile {
        position: absolute;
        z-index: 0;

        .mockup-mobile {
          transform: scale(0.7);
          opacity: 0.25;
          @include transition(all 0.3s ease-in-out);
        }

        img {
          position: absolute;
          top: 106px;
          width: 231px;
          left: 21px;
          border-radius: 0 0 3px 3px;
          transform: scale(0.7);
          opacity: 0.25;
          @include transition(all 0.3s ease-in-out);
        }
      }

      .mobile-is-visible {
        .mockup-mobile,
        img {
          transform: scale(1);
          opacity: 1;
        }
      }

      .how-to-browser {
        position: absolute;
        z-index: 1;
        @include transition(all 0.3s ease-in-out);

        img {
          position: absolute;
          top: 40px;
          left: 1px;
          height: 499px;
          z-index: 0;
        }
      }

      .browser-is-hidden {
        transform: translateX(320px);
        opacity: 0.25;
      }

      img.showing {
        z-index: 1;
      }
    }
  }

  section#mobile-go-to {
    position: relative;
    border-top: 1px solid #E5E5E5;
    background-color: $turquoise;

    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #fff;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  section#no-download {

    .section-icon {
      padding: 0 0 0 6%;
    }

    ul {
      margin-top: 20px;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  section#call-to-action {
    padding-top: 0;

    .cta-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 40%;

      // a {
      //   padding-top: 10px;
      //   font-size: 1.3rem;
      //   text-decoration: underline;
      // }
    }
  }

  section#partnerships {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    background-color: #7E89A3;

    h2 {
      color: #fff;
      margin-bottom: 4rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 2rem;
      width: 60%;
      justify-content: space-around;

      li {
        img {
          height: 50px;
        }
      }
    }

    ul.partners-gold {
      width: 55%;

      @media (max-width: 450px) {
        li {
          img {
            margin: 0 5px;
            height: 20px;
          }
        }
      }
    }

    ul.partners-silver,
    ul.partners-bronze {
      width: 65%;

      @media (max-width: 450px) {
        li {
          img {
            margin: 0 5px;
            height: 17px;
          }
        }
      }
    }

  }
}
