#home-page {

  header {
    padding-top: 70px;

    .logo {
      width: 220px;
      height: 50px;
    }

    .vision {
      padding-top: 30px;
      text-align: center;
    }

    svg {
      max-width: 100%;
      height: 450px;
    }
  }

  section#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      max-width: 570px;
      text-align: center;
    }
  }

  section#articles {
   padding: 0;
  }

  section#solidarity-network,
  section#own-scale,
  section#consumption,
  section#no-download {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    border-top: 1px solid #E5E5E5;

    .section-icon {
      padding: 0 6%;
      width: 50%;
    }

    .section-description {
      padding: 0 6%;
      width: 50%;
    }
  }

  section#consumption {
    .section-icon {
      order: 2;
    }

    .section-description {
      order: 1;
    }
  }

  section#testimonials {
    padding: 0 0 60px;

    p {
      position: relative;
      padding: 20px;
      margin-bottom: 2.5rem;
      background-color: #7E89A3;
      color: #fff;
      border-radius: 10px;

      &:after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 15%;
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
        border-top-color: #7E89A3;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    img {
      height: 50px;
      border-radius: 50%;
    }

    .witness {
      display: flex;
      padding: 0 10px;

      .witness-details {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;

        span {
          font-family: "Raleway", "Helvetica", "sans-serif";
          font-size: 1.4rem;
          font-weight: 600;
        }

        i {
          font-size: 1rem;
        }
      }
    }
  }

  section#how-to {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    border-top: 1px solid #E5E5E5;
    overflow: hidden;

    h2 {
      padding-left: 20px;
    }

    .how-to-specifics {
      position: relative;
      padding: 0 5%;
      width: 50%;
      justify-content: flex-end;

      .switch-device {
        position: absolute;
        margin: 0 10% 0 0;
        top: 2px;
        right: 0;

        #switcher {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .icon-desktop-is-hidden {
          display: none;
        }

        .icon-mobile-is-hidden {
          display: none;
        }
      }

      ul.specifics {
        li {
          padding: 20px;
          cursor: pointer;
        }

        li.active {
          background: rgba(132,146,165,.1);
          border-radius: 10px;
        }
      }
    }

    .how-to-images {
      position: relative;
      width: 50%;
      justify-content: flex-start;

      svg {
        max-height: 540px;
      }

      .how-to-mobile {
        position: absolute;
        z-index: 0;

        .mockup-mobile {
          transform: scale(0.7);
          opacity: 0.25;
          @include transition(all 0.3s ease-in-out);
        }

        img {
          position: absolute;
          top: 106px;
          width: 231px;
          left: 21px;
          border-radius: 0 0 3px 3px;
          transform: scale(0.7);
          opacity: 0.25;
          @include transition(all 0.3s ease-in-out);
        }
      }

      .mobile-is-visible {
        .mockup-mobile,
        img {
          transform: scale(1);
          opacity: 1;
        }
      }

      .how-to-browser {
        position: absolute;
        z-index: 1;
        @include transition(all 0.3s ease-in-out);

        img {
          position: absolute;
          top: 40px;
          left: 1px;
          height: 499px;
          z-index: 0;
        }
      }

      .browser-is-hidden {
        transform: translateX(320px);
        opacity: 0.25;
      }

      img.showing {
        z-index: 1;
      }
    }
  }

  section#no-download {

    .section-icon {
      padding: 0 0 0 6%;

      #touch_effect,
      #add_button,
      #touch_effect_2,
      #icon_cforgood {
        visibility: hidden;
        @include transition(all 0.2s ease);
      }

      #touch_effect {
        position: absolute;
        animation-duration: 8s;
        animation-name: touched;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      #touch_effect_2 {
        position: absolute;
        animation-duration: 8s;
        animation-name: touched;
        animation-delay: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes touched {
        0% {
          visibility: hidden;
          opacity: 1;
        }

        5% {
          visibility: visible;
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }

      #add_button {
        position: absolute;
        animation-duration: 8s;
        animation-delay: 0.5s;
        animation-name: poped;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes poped {
        0% {
          visibility: hidden;
          opacity: 0;
        }

        20% {
          visibility: visible;
          opacity: 1;
        }

        60% {
          visibility: visible;
          opacity: 1;
        }

        70% {
          visibility: hidden;
          opacity: 0;
        }

        100% {
          visibility: hidden;
          opacity: 0;
        }
      }

      #icon_cforgood {
        position: absolute;
        animation-duration: 8s;
        animation-delay: 3s;
        animation-name: pophome;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes pophome {
        0% {
          visibility: hidden;
          opacity: 0;
        }

        20% {
          visibility: visible;
          opacity: 1;
        }

        45% {
          visibility: visible;
          opacity: 1;
        }

        50% {
          visibility: hidden;
          opacity: 0;
        }

        100% {
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    ul {
      margin-top: 20px;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  section#partnerships {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    background-color: #7E89A3;

    h2 {
      color: #fff;
      margin-bottom: 4rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 2rem;
      width: 60%;
      justify-content: space-around;

      li {
        img {
          height: 50px;
        }
      }
    }

    ul.partners-gold {
      width: 55%;
    }

    ul.partners-silver,
    ul.partners-bronze {
      width: 65%;
    }

  }
}
