.cgu,
.confidential,
.mentions,
.faq,
.charte,
.manifeste,
.team,
.presse {

  /****************************************************************************/
  /* HEADER */
  /****************************************************************************/

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
    height: 320px;
    background: url("../images/legales/cover-legales.jpg") no-repeat;
    background-size: cover;

    h1 {
      max-width: 90%;
      font-size: 1.5em;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }
  }

  /****************************************************************************/
  /* ASIDE */
  /****************************************************************************/

  aside {
    width: 25%;
    height: 50px;
    margin: 40px 0px;
    padding-left: 4%;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      background-color: white;
    }

    ul {
      @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
        margin: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      }

      @media (max-width: 620px){
        display: none;
      }

      li {
        margin-top: 20px;

        @media (max-width: 768px) {
          display: flex;
          justify-content: center;
          flex-grow: 1;
        }

        a {
          display: flex;
          line-height: 1;
          padding: 5px 0;
          background-color: rgba(54, 211, 218,0);
          color: #3E4149;
          @include transition(all 0.5s ease);

          @media (max-width: 768px) {
            padding: 0;
            margin: 0;
          }

          &:hover {
            color:#A3A5A8;
            opacity: 1;
          }
        }
      }
    }

    li.active {
      a {
        color: $turquoise;
      }
    }

    /**************************************************************************/
    /* ASIDE - MOBILE */
    /**************************************************************************/

    .dropdown {
      display: none;
    }

    @media (max-width: 620px){

      .dropdown {
        display: block;

        .default-list-item {
          border-bottom: #36d3da 1px solid;
          text-align: center;
          font-size: 15px;
          padding: 10px;
          color: #36d3da;
          background-color: white;
          border-radius: 5px 5px 0 0;

          .fa {
            margin-left: 10px;
          }
        }

        ul {
          display: none;
          padding: 0;
          margin: 0 auto;
          width: 100%;
          list-style: none;
          background-color: $turquoise;
          transform: opacity 100ms;

          li {
            padding:10px 0;
            margin: 0;
            border-bottom: #fff 1px solid;
            border-top: none;

            a{
              color: white;
            }
          }

          li:last-child{
            border-bottom: none;
          }
        }

        ul.opened {
          display: block;
        }
      }

      .dropdown-scrolled {
        position: fixed;
        width: 100%;
        top: 50px;
      }
    }
  }

  /****************************************************************************/
  /* ASIDE - ACTIVE ON SCROLL */
  /****************************************************************************/

  .affix-subnav-scrolled{
    top: 65px;
    margin-bottom: -310px;
    position: fixed;
    width: 27%;

    @media (max-width: 768px) {
      position: fixed;
      padding: 50px 0 20px;
      margin-bottom: -310px;
      width: 100%;
      top: 20px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      z-index: 2;
    }
  }

  /****************************************************************************/
  /* COMMON */
  /****************************************************************************/

  .page-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 0;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    section {
      box-sizing: border-box;
      padding: 60px 5% 60px;
      margin: 0;

      @media (max-width: 768px) {
        width: 100%;
      }

      h3 {
        text-align: left;
        font-size: 1.4em;
        font-weight: 300;
        margin: 0 0 20px;
        padding-bottom: 10px;
        border-bottom: 1px #36D3DA solid;
      }

      h3:not(:first-child) {
        margin: 40px 0 20px !important;
      }

      h4 {
        font-size: 16px;
        text-align: left;
        line-height: 2.2rem;
        font-weight: 600;
      }

      p,li {
        margin: 0 0 15px;
        font-family: 'bariol_boldbold', sans-serif;
        font-size: 1v4px;
        text-align: left;
        font-weight: 100;
        line-height: 24px;
      }

      li{
        list-style: none;
      }
    }
  }

  /* PAGE MANIFESTE ***********************************************************/

  .container-constat{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .bloc-constat {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
      margin: 0 2%;
      width: 46%;

      @media (max-width: 767px) {
        margin: 0;
        width: 100%;
      }

      svg {
        margin: 20px 0 40px;
      }
    }
  }

  .block-container {
    margin-top: 60px;

    .simple-block{
      margin-bottom: 50px;
    }
  }

  /* FAQ **********************************************************************/

  .faq-content {
    h3:not(:first-child) {
      margin-top: 40px !important;
    }

    h4 {
      font-weight: 600;
    }
  }

	/* PAGE TEAM ****************************************************************/

	.list-team{
		display: flex;
		justify-content: center;
	}

	.photo-team{
		border:solid 1px;
	}

	#section-team{
		position: relative;
	}

  .photo-team::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background-color: rgba(0,0,0,.5);
  }

  .photo-normale{
  	opacity: 1;
  }

  .photo-dessous{
    transition: opacity 0.35s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}