.team {
  .page-container {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        width: 50%;

        .member-pic {
          width: 50%;
          img {
            width: 100%;
          }
        }

        .member-info {
          width: 50%;
        }
      }

      li:nth-child(3),
      li:nth-child(4) {
        .member-pic { order: 2; }
        .member-info { order: 1; }
      }
    }
  }
}