
/*proto*/

body{
    font-family: 'raleway', sans-serif;
    margin: 0;
}

#cover-team{
    height: 320px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.row{
    display: -webkit-flex;
    display: flex;
    width: 87%;
    margin: 0 auto;
}

.bloc-photo-team{
    width: 100%;
    position: relative;
}

.photo-perso-allan, .photo-perso-cedric, .photo-perso-fred, .photo-perso-sarah, .photo-perso-damien, .photo-perso-olivier{
    border: 1px solid black;
    transition: 0.2s ease-in-out;
    opacity:1;
    position: relative;
    width: 95%;
}

.photo-perso-allan img, .photo-perso-cedric img, .photo-perso-fred img, .photo-perso-sarah img, .photo-perso-damien img, .photo-perso-olivier img{
    width: 100%;
    height: auto;
}

.photo-perso-allan::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/allangif.gif');
    background-size: cover;
}

.photo-perso-cedric::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/cedricgif.gif');
    background-size: cover;
}

.photo-perso-fred::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/fredgif.gif');
    background-size: cover;
}

.photo-perso-sarah::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/sarahgif.gif');
    background-size: cover;
}

.photo-perso-damien::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/damiengif.gif');
    background-size: cover;
}

.photo-perso-olivier::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    background: url('../images/team/oliviergif.gif');
    background-size: cover;
}

.photo-perso-allan:hover::before,
.photo-perso-allan:focus::before,
.photo-perso-cedric:hover::before,
.photo-perso-cedric:focus::before,
.photo-perso-fred:hover::before,
.photo-perso-fred:focus::before,
.photo-perso-sarah:hover::before,
.photo-perso-sarah:focus::before,
.photo-perso-damien:hover::before,
.photo-perso-damien:focus::before,
.photo-perso-olivier:hover::before,
.photo-perso-olivier:focus::before
{
    opacity: 1;
}

.caption{
    width: 95%;
    padding: 20px 0 20px 5px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}


.photo-perso-allan:hover .photo-perso-allan img,
.photo-perso-cedric:hover .photo-perso-cedric img,
.photo-perso-fred:hover .photo-perso-fred img,
.photo-perso-sarah:hover .photo-perso-sarah img,
.photo-perso-damien:hover .photo-perso-damien img,
.photo-perso-olivier:hover .photo-perso-olivier img,{
    opacity:0;
}



.caption img{
    width: 50%;
}

.caption h3{
    font-style: italic;
    font-weight: 100;
    line-height: 0;
}

.social{
    width: 45%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    background: black;
}

.social a{
    width: 20%;
}

.social img{
    width: 100%;
}

.name-team{
    width: 50%;
}
.name-team h2{
    font-size: 1.3em;
}

.name-team h3{
    font-size: 1em;
}



/*MEDIA QUERIES*/

@media (max-width: 768px){

    .row{
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
        overflow: hidden;
    }

    .final-row{
        margin-bottom: 50px;
    }

}

@media (max-width: 425px){

    .row{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    .final-row{
        margin-bottom: 50px;
    }

}

