.team {
  header {
    background: url("../images/team/cover-team.jpg") no-repeat;
    background-size: cover;
  }

  .page-container {
    margin: 80px 0 120px;
    flex-direction: row;

    @media (max-width: 767px) {
      flex-direction: column;
      padding: 0 5%;
    }

    .team-intro{
      width: 33.33333%;
      padding-right: 6%;

      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: 66.66666%;

      @media (max-width: 767px) {
        width: 100%;
      }

      @media (min-width: 992px) {
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(7),
        li:nth-child(8),
        li:nth-child(11),
        li:nth-child(12) {
          .member-pic { order: 2; }
          .member-info { order: 1; }
        }
      }

      li:nth-child(even) {
        color: #fff;
      }

      li {
        display: flex;
        width: 50%;

        @media (min-width: 501px) and (max-width: 991px) {
          width: 100%;

          &:nth-child(even) {
            .member-pic { order: 2; }
            .member-info { order: 1; }
          }
        }

        .member-pic {
          width: 50%;
          img {
            width: 100%;
          }
        }

        .member-info {
          position: relative;
          min-height: 125px;
          padding: 20px;
          width: 50%;

          h2 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0 0 5px;
          }

          span {
            font-size: 1.5rem;
          }

          .member-social {
            position: absolute;
            bottom: 10px;
          }
        }

        @media (max-width: 500px) {
          flex-direction: column;
          width: 100%;

          .member-pic,
          .member-info {
            width: 100%;
          }
        }
      }
    }

    .first-bloc {
      background-color: #dedcee;
    }

    .second-bloc {
      background-color: #fec72f;
    }

    .third-bloc {
      background-color: #d3dee4;
    }

    .fourth-bloc {
      background-color: #222222;
    }
  }
}