<aside>
  <h4>Menu</h4>
  <ul id="affix-subnav" class="dropdown">
    <li class="list-link <%= nav_active('cgu.html') %>">
      <a href="cgu"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Conditions Gérérales</a>
    </li>
    <li class="list-link <%= nav_active('confidential.html') %>">
      <a href="confidential"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Charte de confidentialité</a>
    </li>
    <li class="list-link <%= nav_active('mentions.html') %>">
      <a href="mentions"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Mentions</a>
    </li>
  </ul>

  <div id="content">
    <div class="center">
      <div id="menuDropdown"></div>
      <div class="dropdown">
        <div class="title dropdown-text">CHARTE DE CONFIDENTIALITE</div>
        <ul class="menu-open">
          <li><a href="cgu">CONDITIONS GENERALES</a></li>
          <li><a href="mentions">MENTIONS LEGALES</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>