<i id="see-more" class="see-more">Voir des exemples de bons plans</i>
<div id="modal-perks">
  <div id="perk-close" class="modal-close">
    <%= partial "shared/svg/close" %>
  </div>
  <div class="modal-perks-content">
    <ul>
      <li>
        <img src="<%= image_path 'perks/perk-1.jpg' %>" alt="">
        <i class="fa fa-gift" aria-hidden="true"></i><span><i> Bienvenue </i>Grandir et se faire connaître sur le territoire</span>
      </li>
      <li>
        <img src="<%= image_path 'perks/perk-3.jpg' %>" alt="">
        <i class="fa fa-repeat" aria-hidden="true"></i><span><i> Durable </i>Fidéliser une nouvelle clientèle</span>
      </li>
      <li>
        <img src="<%= image_path 'perks/perk-2.jpg' %>" alt="">
        <i class="fa fa-flash" aria-hidden="true"></i><span><i> Flash </i>Réduire le gaspillage alimentaire</span>
      </li>
    </ul>
  </div>
</div>

<script>

  jQuery(document).ready(function(){

    $('#see-more').click(function(e) {
      $('#modal-perks').toggleClass('is-visible');
      $('body').toggleClass('modal-open');
    });

    $('#perk-close').click(function(e) {
      $('#modal-perks').toggleClass('is-visible');
      $('body').toggleClass('modal-open');
    });

  });

</script>


