/* MARKERS ********************************************************************/

#Forground {
  position: absolute;
  animation-duration: 140s;
  animation-name: panoramix;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes panoramix {
  0% {
    transform: translateX(0) translateY(58%);
  }

  50% {
    transform: translateX(38%) translateY(58%);
  }

  100% {
    transform: translateX(0) translateY(58%);
  }
}

#Background-Level-1 {
  position: absolute;
  animation-duration: 140s;
  animation-name: panoramix2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes panoramix2 {
  0% {
    transform: translateX(54%) translateY(41%);
  }

  50% {
    transform: translateX(40%) translateY(41%);
  }

  100% {
    transform: translateX(54%) translateY(41%);
  }
}

#Background-Level-2 {
  position: absolute;
  animation-duration: 140s;
  animation-name: panoramix3;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes panoramix3 {
  0% {
    transform: translateX(26%) translateY(30%);
  }

  50% {
    transform: translateX(40%) translateY(41%);
  }

  100% {
    transform: translateX(26%) translateY(30%);
  }
}

#marker-epicerie,
#marker-forme,
#marker-loisir,
#marker-restaurant {
  position: absolute;
  animation-duration: 2s;
  animation-name: marker;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes marker {
  0% {
    transform: translateY(-2px) translateX(150%);
  }

  50% {
    transform: translateY(2px) translateX(150%);
  }

  100% {
    transform: translateY(-2px) translateX(150%);
  }
}

#Cloud-1 {
  position: relative;
  animation-duration: 24s;
  animation-name: cloudyleft;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes cloudyleft {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(100px);
  }
}

#Cloud-2 {
  position: relative;
  animation-duration: 24s;
  animation-name: cloudyright;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes cloudyright {
  0% {
    transform: translateX(650px) translateY(50px);
  }

  100% {
    transform: translateX(730px) translateY(50px);
  }
}




#bicycle {
  position: relative;
  animation-duration: 24s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  5% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translateX(-1170px);
  }

  100% {
    opacity: 0;
  }
}

#tail {
  position: absolute;
  animation-duration: 1s;
  animation-name: cattail;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes cattail {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

#businessman {
  position: absolute;
  animation-duration: 2s;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

#dancerman {
  position: absolute;
  animation-duration: 2s;
  animation-name: danceboy;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes danceboy {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0px);
  }
}

#dancerwoman {
  position: absolute;
  animation-duration: 6s;
  animation-name: dancegirl;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes dancegirl {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(95px) rotateY(180deg);
  }

  100% {
    transform: translateX(0px);
  }
}

#moving-sport {
  position: relative;
  animation-duration: 5s;
  animation-name: pushup;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes pushup {
  0% {
    transform: translateZ(-20px);
  }

  50% {
    transform: translateZ(0px);
  }

  100% {
    transform: translateZ(-20px);
  }
}