@font-face {
  font-family: 'adellelight';
  src: url('font/adelle_light-webfont.eot');
  src: url('font/adelle_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/adelle_light-webfont.woff2') format('woff2'),
       url('font/adelle_light-webfont.woff') format('woff'),
       url('font/adelle_light-webfont.ttf') format('truetype'),
       url('font/adelle_light-webfont.svg#adellelight') format('svg');
  font-weight: normal;
  font-style: normal;
}