/****************************************************************************/
/* HEADER */
/****************************************************************************/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 420px;
  background: url("../images/causes/causes-cover.jpg") no-repeat;
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
    background: -webkit-linear-gradient(left, #00C9FF 10%, #80F2A4 90%);
    background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  }

  h1 {
    max-width: 90%;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}