<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="101px" height="108px" viewBox="0 0 101 108" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>lonely icone</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="lonely-icone" sketch:type="MSLayerGroup" transform="translate(0.000000, 1.000000)">
            <circle id="Oval-2" fill="#36D3DA" sketch:type="MSShapeGroup" cx="50.5" cy="56.5" r="50.5"></circle>
            <g id="packman" transform="translate(27.000000, 28.000000)" sketch:type="MSShapeGroup">
                <path d="M24,0 C10.7456,0 0,10.7020312 0,23.899875 L0,36.649875 L0.008,36.649875 C0.0048,40.6422188 0,50.815125 0.016,51 L8,46.21875 L16,51 L24,46.21875 L32,51 C35.968,51 36.0288,46.21875 40,46.21875 C43.968,46.21875 43.9808,51 47.9536,51 C47.9312,50.9920313 47.976,40.6438125 47.9936,36.649875 L48,36.649875 L48,23.899875 C48,10.7020313 37.2544,2.83106871e-15 24,2.83106871e-15 L24,0 Z" id="Shape" fill="#E2574C"></path>
                <path d="M32.8,20.7203437 C29.7056,20.7203437 27.2,23.2161562 27.2,26.2984687 C27.2,29.3791875 29.7056,31.875 32.8,31.875 C35.8944,31.875 38.4,29.3791875 38.4,26.2984687 C38.4,23.2161562 35.8944,20.7203437 32.8,20.7203437 L32.8,20.7203437 Z M15.2,20.7203437 C12.1072,20.7203437 9.6,23.2161562 9.6,26.2984687 C9.6,29.3791875 12.1072,31.875 15.2,31.875 C18.2928,31.875 20.8,29.3791875 20.8,26.2984687 C20.8,23.2161562 18.2928,20.7203437 15.2,20.7203437 L15.2,20.7203437 Z" id="Shape" fill="#E4E7E7"></path>
                <path d="M32.8,23.90625 C31.4752,23.90625 30.4,24.97725 30.4,26.2984688 C30.4,27.6180937 31.4752,28.6875 32.8,28.6875 C34.1248,28.6875 35.2,27.6180937 35.2,26.2984688 C35.2,24.97725 34.1248,23.90625 32.8,23.90625 L32.8,23.90625 Z M15.2,23.90625 C13.8752,23.90625 12.8,24.97725 12.8,26.2984688 C12.8,27.6180937 13.8752,28.6875 15.2,28.6875 C16.5248,28.6875 17.6,27.6180937 17.6,26.2984688 C17.6,24.97725 16.5248,23.90625 15.2,23.90625 L15.2,23.90625 Z" id="Shape" fill="#324D5B"></path>
                <path d="M3.2048,23.899875 C3.2048,11.2375312 13.0992,0.90365625 25.6,0.0796875 C25.0688,0.044625 24.5408,0 24,0 C10.7488,0 0.0048,10.7004375 0.0048,23.899875 C0.0048,23.899875 4.2934406e-16,50.7657188 0.0208,51 C1.4976,51 2.4256,50.356125 3.2128,49.5465 C3.2064,46.7590313 3.2048,23.899875 3.2048,23.899875 L3.2048,23.899875 Z" id="Shape" fill="#D25147"></path>
            </g>
            <circle id="Oval-3" stroke="#20A1A7" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="75" cy="11" r="11"></circle>
            <text id="2" sketch:type="MSTextLayer" font-family="Roboto" font-size="12" font-weight="686" fill="#21A1A7">
                <tspan x="72" y="15">2</tspan>
            </text>
        </g>
    </g>
</svg>