<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="101px" height="108px" viewBox="0 0 101 108" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>junk icone copy 3</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="junk-icone-copy-3" sketch:type="MSLayerGroup" transform="translate(0.000000, 1.000000)">
            <circle id="Oval-2" fill="#36D3DA" sketch:type="MSShapeGroup" cx="50.5" cy="56.5" r="50.5"></circle>
            <g id="_waterdrop" transform="translate(13.000000, 33.000000)" sketch:type="MSShapeGroup">
                <g id="Page-1">
                    <g id="RainDrops">
                        <path d="M63.6347753,44.3096317 C63.6347753,44.3096317 73.5768609,39.8608946 71.8868498,35.2814403 C70.1968387,30.7019863 57.6031746,27.9656919 57.6031746,27.9656919 C57.6031746,27.9656919 73.5260187,31.2791643 73.5260187,36.1376619 C73.5260187,40.9961591 63.6347753,44.3096317 63.6347753,44.3096317 L63.6347753,44.3096317 Z" id="Path" fill="#FFFFFF"></path>
                        <path d="M11.0975925,44.3096317 C11.0975925,44.3096317 1.15550677,39.8608946 2.84551781,35.2814403 C4.53552881,30.7019863 17.129193,27.9656919 17.129193,27.9656919 C17.129193,27.9656919 1.206349,31.2791643 1.206349,36.1376619 C1.206349,40.9961591 11.0975925,44.3096317 11.0975925,44.3096317 L11.0975925,44.3096317 Z" id="Path-Copy" fill="#FFFFFF"></path>
                        <path d="M49.3348626,32.0757173 C49.3348626,32.0757173 49.3348629,33.8651799 46.3366725,36.2168578 C43.3384822,38.5685359 35.5251731,38.1525025 35.5251731,38.1525025 C35.5251731,38.1525025 42.0670562,39.4812099 46.3366725,37.7509682 C50.6062889,36.0207265 49.3348626,32.0757173 49.3348626,32.0757173 L49.3348626,32.0757173 Z" id="Path-8" fill="#85D6EE"></path>
                        <ellipse id="Oval-3" fill="#FFFFFF" cx="37.547619" cy="36.4551282" rx="23.9761905" ry="7.53205128"></ellipse>
                        <path d="M37.547619,41.8782051 C48.6239965,41.8782051 57.6031746,39.0455452 57.6031746,35.5512821 C57.6031746,32.0570189 48.6239965,29.224359 37.547619,29.224359 C26.4712416,29.224359 17.4920635,32.0570189 17.4920635,35.5512821 C17.4920635,39.0455452 26.4712416,41.8782051 37.547619,41.8782051 Z" id="Oval-3-Copy" fill="#36D3DA"></path>
                        <ellipse id="Oval-3-Copy-3" fill="#FFFFFF" cx="37.9498943" cy="36.1376619" rx="9.26400751" ry="2.68154517"></ellipse>
                        <ellipse id="Oval-3-Copy-2" fill="#36D3DA" cx="37.9498943" cy="35.8158764" rx="7.74913836" ry="2.25249794"></ellipse>
                        <ellipse id="Oval-1-Copy" cx="37.9498943" cy="36.1376619" rx="37.9498943" ry="10.5610561"></ellipse>
                        <path d="M51.3392935,23.4245202 C51.3392935,15.9919656 37.867827,0.20976134 37.867827,0.20976134 C37.867827,0.20976134 24.3963606,15.9919656 24.3963606,23.4245202 C24.3963606,30.8570754 30.4277415,36.8823516 37.867827,36.8823516 C45.3079124,36.8823516 51.3392935,30.8570754 51.3392935,23.4245202 L51.3392935,23.4245202 Z" id="Oval-37" fill="#FFFFFF"></path>
                    </g>
                </g>
            </g>
            <circle id="Oval-3" stroke="#20A1A7" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="75" cy="11" r="11"></circle>
            <text id="4" sketch:type="MSTextLayer" font-family="Roboto" font-size="12" font-weight="686" fill="#21A1A7">
                <tspan x="71" y="15">4</tspan>
            </text>
        </g>
    </g>
</svg>