<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="18px" height="22px" viewBox="0 0 23 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
    <title>icon_mobile</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon_mobile" fill="#FFFFFF">
            <g id="Page-1">
                <g id="Icon-Set">
                    <path d="M11.5,31 C12.328,31 13,30.328 13,29.5 C13,28.672 12.328,28 11.5,28 C10.672,28 10,28.672 10,29.5 C10,30.328 10.672,31 11.5,31 L11.5,31 L11.5,31 Z M21,5 L2,5 L2,4 C2,2.896 2.896,2 4,2 L19,2 C20.104,2 21,2.896 21,4 L21,5 L21,5 L21,5 Z M2,6 L21,6 L21,25 L2,25 L2,6 L2,6 Z M21,30 C21,31.104 20.104,32 19,32 L4,32 C2.896,32 2,31.104 2,30 L2,27 L21,27 L21,30 L21,30 L21,30 Z M19,0 L4,0 C1.791,0 0,1.9029375 0,4.25 L0,29.75 C0,32.0970625 1.791,34 4,34 L19,34 C21.209,34 23,32.0970625 23,29.75 L23,4.25 C23,1.9029375 21.209,0 19,0 L19,0 L19,0 Z" id="Fill-144"></path>
                </g>
            </g>
        </g>
    </g>
</svg>