<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="353px" height="502px" viewBox="0 0 353 502" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>ipad</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path id="path-1" d="M0,23.0193 C0,10.3064 10.27429,0 22.94707,0 L328.0529,0 C340.7265,0 351,10.3056 351,23.0193 L351,476.98074 C351,489.69364 340.7257,500 328.0529,500 L22.94707,500 C10.27353,500 0,489.69435 0,476.98074 L0,23.0193 L0,23.0193 Z"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="ipad" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)">
            <g id="Page-1">
                <g id="iPad-Portrait-x2">
                    <g id="Group-4">
                        <g id="mask-2" fill="#FFFFFF" sketch:type="MSShapeGroup">
                            <path d="M0,23.0193 C0,10.3064 10.27429,0 22.94707,0 L328.0529,0 C340.7265,0 351,10.3056 351,23.0193 L351,476.98074 C351,489.69364 340.7257,500 328.0529,500 L22.94707,500 C10.27353,500 0,489.69435 0,476.98074 L0,23.0193 L0,23.0193 Z" id="path-1"></path>
                        </g>
                        <g id="Clip-3"></g>
                        <g id="Fill-2-Clipped">
                            <mask id="mask-2" sketch:name="path-1" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="path-1"></g>
                            <path d="M-5,-5 L356,-5 L356,505 L-5,505 L-5,-5 L-5,-5 Z" id="Fill-2" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-2)"></path>
                        </g>
                    </g>
                    <path d="M21.98747,45.036 L329.01257,45.036 L329.01257,454.9639 L21.98747,454.9639 L21.98747,45.036 L21.98747,45.036 Z" id="Stroke-5" stroke="#ABAEBC" stroke-width="1.2" sketch:type="MSShapeGroup"></path>
                    <path d="M2.59398,476.5804 C2.59398,487.8572 11.70637,496.9976 22.94707,496.9976 L328.05288,496.9976 C339.29278,496.9976 348.40598,487.8565 348.40598,476.5804 L348.40598,23.01928 C348.40598,11.742525 339.29358,2.6021 328.05288,2.6021 L22.94707,2.6021 C11.707187,2.6021 2.59398,11.743182 2.59398,23.01928 L2.59398,476.5804 L2.59398,476.5804 Z" id="Stroke-7" stroke="#ABAEBC" stroke-width="1.2" sketch:type="MSShapeGroup"></path>
                    <path d="M0,23.01926 C0,10.30636 10.27429,0 22.94707,0 L328.0529,0 C340.7265,0 351,10.30565 351,23.01926 L351,476.9807 C351,489.6936 340.7257,500 328.0529,500 L22.94707,500 C10.27353,500 0,489.6944 0,476.9807 L0,23.01926 L0,23.01926 Z" id="Stroke-9" stroke="#ABAEBC" stroke-width="1.2" sketch:type="MSShapeGroup"></path>
                    <circle id="Oval-1" stroke="#999AA4" stroke-width="2" opacity="0.7" sketch:type="MSShapeGroup" cx="175" cy="477" r="11"></circle>
                    <circle id="Oval-2" fill-opacity="0.7" fill="#D8D8D8" sketch:type="MSShapeGroup" cx="175.5" cy="22.5" r="2.5"></circle>
                </g>
            </g>
        </g>
    </g>
</svg>