<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="32px" height="22px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M16,0.013 C7.164,0.013 0,7.176 0,16.012 C0,24.849 7.164,32.012 16,32.012 C24.836,32.012 32,24.849 32,16.012 C32,7.177 24.836,0.013 16,0.013 L16,0.013 Z M16,29.012 C8.82,29.012 3,23.192 3,16.012 C3,8.832 8.82,3.012 16,3.012 C23.18,3.012 29,8.832 29,16.012 C29,23.192 23.18,29.012 16,29.012 L16,29.012 Z M22.47,15.275 L13.313,10.176 C12.646,9.769 11.99,10.097 11.99,10.906 L11.99,21.127 C11.99,21.935 12.646,22.265 13.313,21.856 L22.455,16.832 C23.303,16.349 22.994,15.57 22.47,15.275 L22.47,15.275 Z" id="Shape" fill="#FFFFFF"></path>
    </g>
</svg>