<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="100%" height="147px" viewBox="0 0 240 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>RainDrops</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="RainDrops" sketch:type="MSLayerGroup" transform="translate(-4.000000, -5.000000)">
            <path d="M210.999518,152.070267 C210.999518,152.070267 243.965381,137.304246 238.36166,122.104355 C232.757939,106.904465 191,97.8222964 191,97.8222964 C191,97.8222964 243.796799,108.820205 243.796799,124.946282 C243.796799,141.072358 210.999518,152.070267 210.999518,152.070267 Z" id="Path" fill="#85D6EE" sketch:type="MSShapeGroup"></path>
            <path d="M23.9995176,152.070267 C23.9995176,152.070267 56.9653808,137.304246 51.36166,122.104355 C45.7579393,106.904465 4,97.8222964 4,97.8222964 C4,97.8222964 56.7967987,108.820205 56.7967987,124.946282 C56.7967987,141.072358 23.9995176,152.070267 23.9995176,152.070267 Z" id="Path-Copy" fill="#85D6EE" sketch:type="MSShapeGroup" transform="translate(30.398399, 124.946282) scale(-1, 1) translate(-30.398399, -124.946282) "></path>
            <path d="M163.584018,111.464083 C163.584018,111.464083 163.584019,117.403576 153.642651,125.209145 C143.701283,133.014715 117.793995,131.633838 117.793995,131.633838 C117.793995,131.633838 139.485502,136.044016 153.642651,130.301086 C167.7998,124.558156 163.584018,111.464083 163.584018,111.464083 Z" id="Path-8" fill="#85D6EE" sketch:type="MSShapeGroup"></path>
            <ellipse id="Oval-3" fill="#85D6EE" sketch:type="MSShapeGroup" cx="124.5" cy="126" rx="79.5" ry="25"></ellipse>
            <ellipse id="Oval-3-Copy" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="124.5" cy="123" rx="66.5" ry="21"></ellipse>
            <ellipse id="Oval-3-Copy-3" fill="#85D6EE" sketch:type="MSShapeGroup" cx="125.83386" cy="124.946282" rx="30.7174986" ry="8.90044779"></ellipse>
            <ellipse id="Oval-3-Copy-2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="125.83386" cy="123.878228" rx="25.6945114" ry="7.47637614"></ellipse>
            <ellipse id="Oval-1-Copy" sketch:type="MSShapeGroup" cx="125.83386" cy="124.946282" rx="125.83386" ry="35.0537181"></ellipse>
            <path d="M170.230289,82.7494714 C170.230289,58.0797156 125.561742,5.69622913 125.561742,5.69622913 C125.561742,5.69622913 80.8931957,58.0797156 80.8931957,82.7494714 C80.8931957,107.419229 100.891985,127.418018 125.561742,127.418018 C150.231499,127.418018 170.230289,107.419229 170.230289,82.7494714 Z" id="Oval-37" fill="#85D6EE" sketch:type="MSShapeGroup"></path>
            <path d="M84.58266,92.3186251 C84.58266,92.3186251 109.882945,60.8745693 105.032102,79.6260288 C100.181258,98.3774883 84.58266,92.3186251 84.58266,92.3186251 Z" id="Path-6" fill="#FFFFFF" sketch:type="MSShapeGroup" transform="translate(95.116361, 83.456252) scale(-1, 1) rotate(-44.000000) translate(-95.116361, -83.456252) "></path>
        </g>
    </g>
</svg>