---
title: La charte CforGood
---

<div class="secondary-page">
  <header class="cgu">
    <h1>La charte CforGood</h1>
  </header>

  <div class="secondary-page-container">
    <!-- Affix menu -->
    <%= partial "shared/aside" %>
    <!-- Page content -->
		<section>
			<p>Chez CforGood, nous nous engageons évidemment à vivre en accord avec les principes que nous défendons et à accompagner toutes personnes qui voudraient contribuer à la Révolution Positive (Cliquer ici pour Devenir Ambassadeur).</p>
			<p>Chaque acteur présent sur la plateforme répond à au moins 2 des engagements suivants :</p>
      <ul>
        <li><strong>Social</strong> : EX : Embauches régulières / Vise la création d’emplois pérennes et l’apprentissage pour valoriser soi même les déchets / Insertion et formation des salariés / Actions humanitaires et solidaire de la Croix-Rouge / Réinsertion par l’emploi des personnes en grande difficulté.</li>
        <li><strong>Anti-Gaspillage</strong> : EX : Redistribution aux associations / La moitié du mobilier issu de la récupération. Tri ttraditionnel des déchets et projet de concevoir un compost de quartier / services auprès des personnes en situation de précarité. Possibilité d’assistance juridique gratuite. Partenaire d’associations d’aide aux réfugiés / Magasin solidaire avec des objets récupérés.</li>
        <li><strong>Zéro Déchet</strong> : EX : Emballage en plastique ou papier recyclé / Limitation des emballages, en carton ou PET 1 (platisque recyclé et recyclable) / Stock de tissus recyclés / Réutilisation des déchets organiques pour nourrir l’exploitation propriétaire. Café issu de la brûlerie locale Caron. Marc de café récupéré et utilisé pour faire pousser des champignons, utilisés pour la cuisine / Emballage en papier recyclé / Recyclage des bouchonsde bouteilles en plastique / Récipients en carton et sacs plastique à base d’amidon de maïs / Dons des invendus aux SDF, recyclage des vêtements / Sacs plastiques récupérés.</li>
        <li><strong>Eco-Responsable</strong> : EX : Produits en majorité bios, produits d’entretien avec des huiles esentielles et encre d’impression végétale / Tenues des employés en coton et lin bios. L’électricité d’origine renouvelable (Enercoop). Eau purifiée par un système de filtre / Matériaux biodégradables et recyclables (papier, carton, biopolymère, bioplastique ou fécule de pomme de terre) / Jardin partagé. Services à domicile.</li>
        <li><strong>Activité Locale</strong> : EX : Engagement auprès de la vie de quartier / Animation culturelle.</li>
        <li><strong>Circuits Courts</strong> : EX : 90% des produits de saison et locaux / Majorité des produits issus de circuits courts / Produits fabriqués en France / Sélection de bières locales.</li>
			</ul>
      <p><strong>Alors vous signez ? :)</strong></p>
      <!-- SUBSCRIBE HERE -->
      <%= partial "shared/cta_subscribe" %>
		</section>
	</div>
</div>