<div class="legales">
		<header>
			<div id="imageHeader">
				<div class="banniere-charte banniere">
					<div class="blocTitre">
						<h1>NOTRE CHARTE</h1>
						<H2>TOUS CONCERNÉS !</H2>
					</div>
				</div>
			</div>

		</header>

	<div id="container">

		<aside>
			<ul id="affix-subnav" class="dropdown">
				<li class="title-list">A PROPOS</li>
				<li class="list-link"><a href="manifeste">Manifeste</a></li>
				<li class="list-link"><a href="charte"  class="active">Notre charte</a></li>
				<li class="list-link"><a href="faq">Faq</a></li>
			</ul>

 			 <div id="content">
 			 	<div class="center">
 			 		<div id="menuDropdown"></div>
				    <div class="dropdown">
				      <div class="title dropdown-text">NOTRE CHARTE</div>
				      <ul class="menu-open">
						<li><a href="manifeste">MANIFESTE</a></li>
						<li><a href="faq">FAQ</a></li>
				      </ul>
				    </div>
			    </div>
			 </div>
		</aside>

		<section class="section-contenu">

			<p>Chez CforGood, nous nous engageons évidemment à vivre en accord avec les principes que nous défendons et à accompagner toutes personnes qui voudraient contribuer à la Révolution Positive (Cliquer ici pour Devenir Ambassadeur).
			</br>
			Chaque acteur présent sur la plateforme répond à au moins 2 des engagements suivants :
			</p>

			<p><strong>Social</strong> : EX : Embauches régulières / Vise la création d’emplois pérennes et l’apprentissage pour valoriser soi même les déchets / Insertion et formation des salariés / Actions humanitaires et solidaire de la Croix-Rouge / Réinsertion par l’emploi des personnes en grande difficulté.
			</p>

			<p><strong>Anti-Gaspillage</strong> : EX : Redistribution aux associations / La moitié du mobilier issu de la récupération. Tri ttraditionnel des déchets et projet de concevoir un compost de quartier / services auprès des personnes en situation de précarité. Possibilité d’assistance juridique gratuite. Partenaire d’associations d’aide aux réfugiés / Magasin solidaire avec des objets récupérés.
			</p>

			<p><strong>Zéro Déchet</strong> : EX : Emballage en plastique ou papier recyclé / Limitation des emballages, en carton ou PET 1 (platisque recyclé et recyclable) / Stock de tissus recyclés / Réutilisation des déchets organiques pour nourrir l’exploitation propriétaire. Café issu de la brûlerie locale Caron. Marc de café récupéré et utilisé pour faire pousser des champignons, utilisés pour la cuisine / Emballage en papier recyclé / Recyclage des bouchonsde bouteilles en plastique / Récipients en carton et sacs plastique à base d’amidon de maïs / Dons des invendus aux SDF, recyclage des vêtements / Sacs plastiques récupérés.
			</p>

			<p><strong>Eco-Responsable</strong> : EX : Produits en majorité bios, produits d’entretien avec des huiles esentielles et encre d’impression végétale / Tenues des employés en coton et lin bios. L’électricité d’origine renouvelable (Enercoop). Eau purifiée par un système de filtre / Matériaux biodégradables et recyclables (papier, carton, biopolymère, bioplastique ou fécule de pomme de terre) / Jardin partagé. Services à domicile.
			</p>

			<p><strong>Activité Locale</strong> : EX : Engagement auprès de la vie de quartier / Animation culturelle.
			</p>

			<p><strong>Circuits Courts</strong> : EX : 90% des produits de saison et locaux / Majorité des produits issus de circuits courts / Produits fabriqués en France / Sélection de bières locales.
			</p>

			<b>Alors vous signez ? :) </b>
			</p>

	        <div class="cta">
	            <a href="https://app.cforgood.com/signup">S'inscrire</a>
	        </div>
       

     
		</section>
	</div>
</div>

	<script type="text/javascript">
		

			$(window).scroll(function() {
			    if( $(this).scrollTop() > 500 ) {
			      $("#affix-subnav").addClass('affix-subnav-scrolled');
			      $("#dropdown").addClass('affix-dropdown-scrolled');
			    
			    } else {
			      $("#affix-subnav").removeClass('affix-subnav-scrolled');
			      $("#dropdown").removeClass('affix-dropdown-scrolled');
	
			    }
			  });

			$(window).scroll(function() {
				 if( $(this).scrollTop() > 400 ) {
			      $("#content").addClass('affix-content-scrolled');
			    } else {
			      $("#content").removeClass('affix-content-scrolled');
			    }
			  });
	</script>

	  <script type="text/javascript">
			  	$(".title").click(function () {
			  $('.menu-open').toggleClass("open");
			});

			  	$("li").click(function () {
			  $('.menu-open').toggleClass("open");
			});

			$(".dropdown li").click(function () {
			  $(this).parent().parent().find(".title").text($(this).text());
			});
  </script>
</body>