---
title: La charte CforGood
---

<header>
  <h1><%= data.page.title %></h1>
</header>

<div class="page-container">
  <!-- Affix menu -->
  <%= partial "web/shared/aside_secondary_pages" %>
  <!-- Page content -->
	<section>
		<p>Toutes les adresses présentes sur CforGood sont rigoureusement sélectionnées pour leur qualité et leur démarche active vis-à-vis d'au moins 2 des critères suivants (indiqués directement sur leur profil) :</p>
    <ul>
      <li><strong>Mode de production éco-responsable</strong> : Ex. Vente de produits biologiques ou utilisation d'énergie renouvelable.</li>
      <li><strong>Engagement social</strong> : Ex. Réinsertion par l’emploi.</li>
      <li><strong>Zéro Déchet</strong> : Ex. Réduction des emballages ou réutilisation des déchets.</li>
      <li><strong>Politique anti-gaspillage</strong> : Ex. Redistribution aux associations.</li>
      <li><strong>Circuit court</strong> : Ex. Production ou consommation de produits locaux (- 250 km de l’adresse).</li>
      <li><strong>Modèle Collaboratif</strong> : Ex. Mutualisation des biens et des services, promotion de l’usage plutôt que de la possession.</li> 
      <li><strong>Action locale</strong> : Ex. Engagement auprès de la vie de quartier et de l’animation culturelle.</li>
		</ul>
    <br>
    <p>Chez CforGood, nous nous engageons à vivre en accord avec ces principes que nous défendons et à accompagner toutes personnes qui voudraient contribuer à la Révolution Positive : <a href="https://cforgood1.typeform.com/to/iZ5QFx" alt="" target="_blank">Cliquer ici pour Devenir Ambassadeur</a>.</p>
    <br>
    <p><strong>Alors vous signez ?</strong></p>
    <!-- SUBSCRIBE HERE -->
    <%= partial "web/shared/call_to_action" %>
	</section>
</div>
