---
title: Nos contributeurs
---

<header>
  <h1><i class="fa fa-heart"></i> <%= data.page.title %></h1>
</header>

<div class="container">
  <div class="page-container">
    <div class="contributors-intro">
      <h2>Ils nous ont soutenu sur Kiss Kiss Bank Bank</h2>
      <p>Merci à KissKissBankBank.com et merci aux 160 personnes qui ont participé au financement de notre plateforme. Sans vous rien n'aurait été possible, c'est pourquoi on vous rend hommage, juste là, sur votre droite.</p>
      <% link_to 'https://www.kisskissbankbank.com/cforgood-la-revolution-positive', target: 'blank_', class: 'go-to-kiss-kiss' do %>
        <div class="ripple-area js-ripple">
          <span class="ripple-circle"></span>
        </div>
        <i class="fa fa-eye" aria-hidden="true"></i>
        Voir la campagne
      <% end %>
    </div>
    <ul>
      <%= image_tag 'web/pages/contributors/success.png', class: 'success' %>
      <% data.contributors.each do |contributor| %>
        <li>
          <%= image_tag contributor.pic %>
        </li>
      <% end %>
    </ul>
  </div>
</div>