---
title: F.A.Q
---

<header>
  <h1><%= data.page.title %></h1>
</header>

<div class="page-container faq-content">
  <!-- Affix menu -->
  <%= partial "web/shared/aside_secondary_pages" %>
  <!-- Page content -->
	<section>
    <!-- NOTRE FONCTIONNEMENT -->
    <h3>Notre fonctionnement</h3>

    <h4>Qui est derrière CforGood ?</h4>
    <p>Une équipe de personnes super motivées que vous pouvez découvrir ici. Mais aussi des dizaines d’ambassadeurs, de commerces et d’associations partenaires qui croient en notre vision. De nombreux ambassadeurs donnent bénévolement de leurs temps pour nous aider dans notre mission, si vous voulez en devenir un, <a href="https://cforgood1.typeform.com/to/iZ5QFx" alt="" target="_blank">cliquez ici</a>.</p>

    <h4>Mon abonnement est reversé à une association ?</h4>
    <p>Oui. En fonction du montant, jusqu'à 85% de votre abonnement est reversé à une des associations partenaires.</p>

    <h4>À quoi sert le reste ?</h4>
    <p>Concernant le reste, environ 12% vont directement à notre solution de paiement MangoPay, qui permet un reversement automatique de votre adhésion à l’association de votre choix (vous permettant ainsi de le déduire de vos impôts). 40% servent à la communication pour mettre en lumière les projets associatifs et les commerces responsables autour de vous. Et les 48% restant permettent à notre équipe de garder la lumière allumée, de continuer à développer la plateforme et de fournir à tous un service de qualité.</p>

    <h4>Comment marche le site ?</h4>
    <p>C’est très simple. Une fois inscrit, vous arrivez sur la carte de votre ville qui référence l’ensemble des commerces partenaires et les réductions qu’ils proposent pour vous récompenser. Vous pouvez consulter tous les bons plans et associations par thématique et en voir les détails simplement en cliquant dessus. Pour profiter des bons plans, il suffit de cliquer sur « j’en profite » pour accéder à votre carte de membre numérique. Allez-y, baladez vous dans CforGood, nous sommes sûrs que vous allez adorer !</p>

    <h4>Pouvez vous m’en dire plus sur vos événements ?</h4>
    <p>Bien sûr. Nous cherchons à créer des événements aussi souvent que possible avec nos associations et commerces partenaires pour soutenir notre mission commune et rassembler la communauté hors ligne pour partager des moments mémorables, ensemble.</p>
    <p>Nous essayons également de mettre en lumière les événements de nos partenaires aussi autant que nous le pouvons. Vous pouvez proposer un événement juste ici.</p>

    <h4>Notre solution de paiement</h4>
    <p>Nous avons opté pour MangoPay dont vous trouverez  <%= link_to "ici", "https://www.mangopay.com/terms/Mangopay_Terms-FR.pdf", target: "_blank" %> les Conditions Générales.</p>

    <!-- EN TANT QUE MEMBRE -->
    <h3>En tant que membre</h3>

    <h4>Puis-je voir les bons plans et les associations sans payer ?</h4>
    <p>Oui bien sûr, il suffit de vous inscrire, sans passer par l’étape de paiement, pour découvrir l’ensemble de la plateforme.</p>
    
    <h4>Si j’habite à l’étranger, puis-je m’inscrire sur CforGood ?</h4>
    <p>CforGood est un service actuellement réservé aux résidants du territoire français. Prochainement ce nouveau service sera également disponible à l'étranger.</p>

    <h4>Est-ce que CforGood est accessible sur smartphone et tablette ?</h4>
    <p>Évidemment oui ! Voici d’ailleurs une astuce pour accéder directement à CforGood depuis votre mobile et tablette.</p>

    <h4>Et si je n'ai pas de smartphone ?</h4>
    <p>Il existe une carte physique. Elle n'est accessible qu’aux membres annuels nous en faisant la demande par mail à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.</p>

    <h4>Puis-je stopper mon abonnement quand je veux ?</h4>
    <p>Absolument ! Nos abonnements sont sans engagement, il suffit de vous rendre sur votre profil, dans l'onglet "mon abonnement" et de cliquer sur "Je me désabonne".

    <h4>Puis-je supprimer mon compte CforGood ?</h4>
    <p>Oui. Vous pouvez supprimer votre compte CforGood en envoyant une demande au service client par email à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.

    <h4>J'ai une entreprise, puis-je offrir l'accès à mes employés ?</h4>
    <p>Oui, nous avons une toute nouvelle offre spécialement étudiée pour permettre aux entreprises de participer à la Révolution Positive et de favoriser les comportements positifs de vos employés. S'il vous plait, écrivez-nous directement ici : allan@cforgood.com</p>

    <!-- A PROPOS DES BONS PLANS -->
    <h3>À propos des bons plans</h3>

    <h4>Est-ce qu’il va y avoir davantage de bons plans ?</h4>
    <p>DÉFINITIVEMENT OUI. Nous avons une super équipe qui repère les commerces locaux et responsables et développe des partenariats pour de nouveaux bons plans chaque semaine !</p>

    <h4>Comment puis-je bénéficier des bons plans ?</h4>
    <p>Vous pouvez voir cela directement sur la page du bon plan qui vous intéresse, dans la catégorie « Comment en profiter ». Généralement, il y a 3 manières d’en profiter :</p>
    <ul>
      <li>1) Présenter simplement sa carte CforGood.</li>
      <li>2) Contacter le commerce au préalable puis présenter sa carte à votre arrivée.</li>
      <li>3) Utiliser un code promo (pour les commerces en ligne).</li>
    </ul>

    <h4>Et s’il y a un problème lorsque j’essaye d’en profiter ?</h4>
    <p>Nous travaillons très dur avec nos partenaires pour nous assurer qu’il n’y ai aucun souci. Si quelque chose arrive, s’il vous plait faites le nous savoir aussi vite que possible en nous écrivant à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.</p>

    <!-- A PROPOS DES DONS -->
    <h3>À propos des dons</h3>

    <h4>Comment puis-je soutenir une association ?</h4>
    <p>En vous inscrivant sur CforGood, vous allez reverser jusqu'à 85% de votre abonnement à une des associations partenaires. Lors de votre inscription, vous pourrez choisir celle de votre choix et obtenir des nouvelles de son actualité, de ses événements et de son impact grâce à votre aide.</p>

    <h4>Comment vous choisissez vos associations ?</h4>
    <p>Nos associations sont choisies pour leur engagement et leur impact social, environnement ou culturel. Leur caractère innovant et la mise en place d'action concrète est déterminant dans notre choix. À travers nos 8 grandes thématiques, nous essayons de représenter toutes les causes dans le besoin, mais nous savons qu’il nous en manque certaines. Nous allons à terme mettre en place un système où les utilisateurs pourront eux-mêmes sélectionner les projets. C’est encore en construction.</p>

    <h4>Comment puis-je savoir que ma donation va bien à l’association ?</h4>
    <p>C’est très simple, nous n’y touchons pas ! Votre adhésion est directement reversée à l’association de votre choix grâce à notre solution de paiement MangoPay.</p>

    <h4>Est-ce que je peux donner du temps ?</h4>
    <p>C’est en cours ! Nous essayons réellement de rendre possible la donation de temps car elle a énormément de valeurs pour nous. Pour le moment, suivez nous, nous postons régulièrement des événements et des appels à bénévolat pour soutenir nos associations !</p>


    <!-- EN TANT QU'ASSOCIATIONS -->
    <h3>En tant qu'association</h3>

    <h4>Comment puis-je inscrire mon association ?</h4>
    <p>En remplissant le formulaire d'inscription <%=link_to "Devenir partenaire", "https://cforgood1.typeform.com/to/PdisGd", target: "_blank" %>. Nous sommes toujours intéressés par de nouveaux partenariats avec des associations engagées, n'hésitez pas ! <br> Afin de valoriser l’impact auprès de chaque association partenaire, nous limitons son nombre à la taille de la communauté. C’est pourquoi nous allons très prochainement créer une liste d’attente où les membres pourront voter pour leur association préférée et ainsi la faire passer dans notre liste principale lorsqu’une nouvelle place se libèrera.</p>

    <h4>Puis-je contacter les membres qui soutiennent mon association ?</h4>
    <p>Du à la protection des données privées, nous ne partageons aucune donnée privée de nos membres. Cependant nous les encourageons à vous contacter. Vous pouvez également les rencontrer lors de nos événements et prochainement, vous serez en mesure de poster vous même, depuis votre tableau de bord, vos appels à bénévolat et autres demandes à la communauté.</p>

    <h4>Puis-je faire quoique ce soit d’autre pour aider mon association ?</h4>
    <p>Bien sûr ! Vous pouvez devenir Ambassadeur et passer le mot autour de vous en vous joignant à CforGood pour des campagnes réseaux sociaux, des événements ou autres. N’hésitez pas à nous écrire à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>, ou à vous déclarer Ambassadeur <a href="https://cforgood1.typeform.com/to/iZ5QFx" alt="" target="_blank">cliquez ici</a>, on aime les idées folles !</p>

    <h4>Est-ce que CforGood prélève une commission sur mes fonds ?</h4>
    <p>Non. Les fonds indiqués sur votre cagnotte vous sont intégralement reversés. Notre solution de paiement, MangoPay, gère tout le processus et vous envoie les fonds récoltés au début de chaque mois.</p>

    <!-- EN TANT QUE COMMERÇANT -->
    <h3>En tant que commerçant</h3>

    <h4>Quelle est la procédure pour inscrire mon commerce ?</h4>
    <p>Pour devenir partenaire, il vous suffit de créer un compte commerçant, <a href="https://app.cforgood.com/signup" alt="" target="_blank">cliquez ici</a>. Notre équipe vous contactera dans les plus bref délais pour activer votre compte (s’il est en accord avec notre charte") puis s’occupera de la prise de photo et vous formera à l’utilisation de notre plateforme mise gratuitement à votre disposition.</p>

    <h4>Comment ça marche ?</h4>
    <p>Vous disposez d’une interface web et mobile qui vous permettent de créer un bon plan en moins de 30 secondes. Une fois un bon plan actif, votre commerce apparaît aux yeux de toute notre communauté qui est automatiquement informée de l’offre que vous proposez. Notre plateforme vous fournit ensuite de nombreuses informations concernant l’utilisation de chacune de vos offres (Nombre de vues, nombre d’utilisations, nombre de nouveaux clients) et vous permet de modifier ou désactiver l’une d’entre elle à tout moment.</p>

    <h4>Est-ce gratuit ?</h4>
    <p>Oui, l’accès à la plateforme CforGood est totalement gratuit pour nos partenaires.</p>

    <h4>Puis-je réaliser le bon plan / la réduction que je souhaite ?</h4>
    <p>Oui totalement, cela peut être une promotion de 20% sur votre magasin, un produit / service offert, une offre spéciale. Soyez créatif ! Notre équipe a de l’expérience dans ce domaine et peut vous aider à choisir les bons plans en accord avec vos objectifs, nous sommes là pour vous aiguiller à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>.</p>

    <h4>Quelles sont les conditions pour devenir partenaire ?</h4>
    <p>Les entreprises partenaires sur CforGood doivent répondre à au moins deux critères de la Charte CforGood (<a href="http://www.cforgood.com/charte/" alt="" target="_blank">Pour la consulter cliquer ici</a>). Les entreprises devront donc être validées avant de pouvoir poster sur CforGood.</p>
	</section>
</div>