<div class="legales">
	<header>
		<div id="imageHeader">
			<div class="banniere">
				<div class="blocTitre">
					<h1>MANIFESTE</h1>
					<H2></H2>
				</div>
			</div>
		</div>
  </header>

	<div id="container-2">
		<section id="section-constat">
			<h3 class="section-title-2">CONSTAT</h3>
		    <div id="container-constat">

         	<div class="bloc-constat-2">
	         	<img class="image-constat-2" src="images/legales/iconTest.png" alt="icone malbouffe">
	         	<p class="texte-constat-2">Pour des raisons évidentes, nous prenons conscience des limites du système économique actuel : à mesure qu’il créé (beaucoup) de richesses, il engendre inégalités, exclusion, stress et mal-être, pollution, réchauffement climatique et rareté croissante des ressources naturelles… Cette logique prédatrice a assombri notre avenir commun. Ce n’est pas le monde que nous voulons.</p>
	        </div>

       		<div class="bloc-fleche">
       			<img src="images/legales/arrow.png" alt="fleche" class="fleche-droite">
       		</div>

         	<div class="bloc-constat-2">
         		<img class="image-constat-2" src="images/legales/iconTest.png" alt="icone">
	         	<p class="texte-constat-2">Face à ce monde en profonde mutation, de nombreuses initiatives ont essaimé sur nos territoires, pour inventer de nouvelles manières de faire de l’agriculture, de l’éducation, de l’économie… Malheureusement ces acteurs sont trop souvent isolés et finissent par essayer de changer le monde chacun de leur côté, invisibles aux yeux du plus grand nombre (Tous les personnages isolés).</p>
         	</div>

         	<div class="bloc-fleche">
         		<img src="images/legales/arrow.png" alt="fleche" class="fleche-droite">
         	</div>

          <div class="bloc-constat-2">
         	  <img class="image-constat-2" src="images/legales/iconTest.png" alt="icone tous ensemble">
	          <p class="texte-constat-2">Nous pensons qu’il est temps de les rassembler pour rendre plus accessible ces nouveaux modes de vie et nous donner enfin le pouvoir d’agir dans le bon sens. C’est le rôle de CforGood, rassembler localement, citoyens, associations et commerces responsables pour favoriser les comportements positifs ! (icône : Tous ensemble, masse d’acteurs rassemblés / lien entre ces acteurs) </p>
	        </div>

       		<div class="bloc-fleche">
       			<img src="images/legales/arrow.png" alt="fleche" class="fleche-droite">
       		</div>

          <div class="bloc-constat-2">
         		<img class="image-constat-2" src="images/legales/iconTest.png" alt="icone goute d'eau">
	         	<p class="texte-constat-2">Pour recréer ce réseau de solidarité, CforGood reprend la philospohie de demander non pas beaucoup à peu de monde, mais bien un peu à beaucoup de gens, afin que chacun puisse agir à son échelle et être l’acteur d’une société plus responsable et solidaire. Parce qu’on est convaincu que tout le monde est important dans cette histoire. (icône : Goutte d’eau)</p>
	        </div>
        </div>

        <p class="quote"><i>Avec CforGood, chaque membre devient, à son échelle, l’acteur d’une société plus responsable et solidaire.</i></p>
    </section>

    <section id="section-manifeste">
	     <h3 class="section-title-2">MANIFESTE</h3>
          	<DIV id="section-contenu-manifeste">

	          	<p>CforGood est composé d’Hommes qui partagent ce diagnostic, et l’exprime avec leurs propres mots, en fonction du chemin personnel de chacun. Voici le manifeste qui les rassemble :</p>

	          	<P class="text-manifeste"><b>Chez CforGood</b>, on considère que le présent n'est pas un passé en puissance et qu'il ne tient qu'à nous de dessiner un autre visage au monde de demain.
	          	</br></br>
				<b>Chez CforGood</b>, on cherche à inventer un moyen qui donne envie aux gens de se retrousser les manches.
				</br></br>
				<b>Chez CforGood</b>, on considère que personne n'est trop petit pour se faire entendre.
				</br></br>
				<b>Chez CforGood</b>, on est persuadé que la plus grande difficulté n'est pas de comprendre les idées nouvelles, mais d'échapper aux anciennes.
				</br></br>
				<b>Chez CforGood</b>, on est convaincu qu'un message léger est bien plus impliquant qu'un discours culpabilisant.
				</br></br>
				<b>Chez CforGood</b>, on se contente de faire réfléchir, mais certainement pas de convaincre, ça ne nous appartient pas.
				</br></br>
				<b>Chez CforGood</b>, on aime les projets qui vont dans le bon sens, quel que soit leur statut juridique.
				</br></br>
				<b>Chez CforGood</b>, on ne cherche pas la faute, mais la solution. C'est pourquoi on valorise les actes bien intentionnés, quel que soit leur portée.
				</br></br>
				<b>Chez CforGood</b>, on pense, comme Gandhi, que la vieille philosophie de l'oeil pour oeil n'a jamais fait que des aveugles.
				</br></br>
				<b>Chez CforGood</b> on ne se prend pas au sérieux, mais ça ne veut pas dire qu'on prend les choses à la légère ;)
				</br></br>
				<b>Chez CforGood</b>, on pense que 1 + 1 = 3 grâce à l'émulation collective.
				</br></br>
				<b>Chez CforGood</b>, on sait qu'ensemble, nous sommes une Révolution Positive.</P>
			</DIV>
	</section>

	<section id="section-enjeux">
	     <h3 class="section-title-2">ENJEUX</h3>
			<DIV id="section-contenu-enjeux">

	          	<p class="first-bloc">Le système ne fonctionne plus mais ce n’est pas une fatalité. Pour accompagner sa profonde réinvention, notre objectif est à la fois simple et ambitieux : </br>
				Induire en une génération un mouvement mondial d’économies locales interconnectées qui dessinent une société au service de l’humain et respectueuse de la nature, pour rendre possible une vie saine et prospère pour tous et partout. </br>
				Pour cela, nous travaillons sur 5 points, tous piliers de notre vision :
				</p>
			<div class="bloc-enjeux">
				<img src="images/legales/iconTest.png" alt="icone goute d'eau">
				<h4> Redonner le pouvoir au Citoyen : </h4>
				<p>C’est une évidence pour nous, le citoyen est l’acteur politique le plus important qui soit, car nous pouvons tous changer le monde à notre échelle. C’est pourquoi, loin des discours moralisateurs qui réveillent peur et repli sur soi, nous faisons le choix d’un message résolument enthousiaste et léger pour donner au plus grand nombre l’envie de se retrousser les manches.</br>
				Mais dans cette époque de transition et d’incertitude, il ne suffit plus d’informer, de conscientiser, le vrai défi est de susciter l’envie, le plaisir et de faciliter le passage à l’action !
				Les jeunes comme les moins jeunes sont déjà prêts à inventer l’avenir, aujourd’hui il faut avant tout répondre à ce furieux manque d’outils et leur donner les moyens d’agir.</br>
				Ainsi, nous pensons réellement qu’en rassemblant les acteurs responsables autour du citoyen pour proposer des solutions accessibles à tous, agir positivement peut devenir bien plus qu’une simple résolution du nouvel an, mais un véritable style de vie basé sur la coopération et la solidarité. </br>
				Une solution pour notre génération en quête de sens et un exemple inspirant pour celles d’après.
				</p>
			</div>
			<div class="bloc-enjeux">
				<img src="images/legales/iconTest.png" alt="icone goute d'eau">
				<h4>Un renouveau associatif : </h4>
				<p>Touché par la crise, le secteur associatif se heurte depuis quelques années à la réduction des aides publiques et voit pour la première fois, en 2012, le nombre et le montant des donations baisser. La nécessité de palier cette chute des contributions et redynamiser le tissu associatif se fait sentir si l’on ne veut pas voir se fragiliser encore davantage l’un des principaux vecteurs de lien social de notre société. </br>
				Pour répondre à ces enjeux, CforGood suggère aux citoyens une toute nouvelle formule : la <strong>Générosité Embarquée</strong>. </br>
				En se basant sur le principe de proposer aux particuliers de donner peu, mais régulièrement, et en connectant cet acte à des commerces responsables et bien plus encore, CforGood met en place, grâce à son réseau de solidarité, un tout nouveau modèle de don facile, innovant et valorisant où la notion de plaisir devient déterminante. </br>
				En fonctionnant ainsi, CforGood ne vise pas à remplacer le don traditionnel, mais place la générosité à la portée de toutes les bourses et de toutes les moeurs, et souhaite ainsi contribuer à faire émerger une nouvelle communauté de donneurs solidaires.
				</p>
			</div>
			<div class="bloc-enjeux">

				<h4>La relocalisation de l’économie : </h4>
				<p>Etant dit qu’il ne peut y avoir d'économie mondiale en bonne santé que s'il y a des économies locales en bonne santé, il apparaît évident et urgent de valoriser les acteurs locaux de nos territoires pour freiner l’érosion qui les assèchent à petit feu.
				</br>
				Que l’on se rende compte, pour un emploi créé dans une grande surface, c’est 3 à 5 qui disparaissent dans l’économie locale, pour 100€ dépensés auprès d’une multinationale ce sont presque 80 % qui quittent l’économie du lieu.</br>
				Chez CforGood, nous sommes favorable à un localisme positif, celui qui redonne du pouvoir et de la responsabilité aux citoyens.</br></br>

				“Après les folles décennies du tout-finance, le temps est venu de ré-enraciner nos économies et de ramener l’argent de notre consommation dans l’économie réelle.”</br></br>

				Consommer chez les partenaires CforGood, ce n’est pas aider la 3ème plus grosse multinationale à décorer leurs bureaux, c’est aider une petite fille à prendre des cours de danse, c’est permettre à un petit garçon d’être dans une équipe sportive, c’est avoir un vrai impact sur ses voisins et sa ville. </br>
				Ainsi, soutenir les partenaires de CforGood, c’est la garantie de permettre l’émergence d’une économie locale et intensive en main d’œuvre, une économie décentralisée et productrice de richesse pour tous (rétablissement et dépollution des éco-systèmes, agriculture naturelle, éco-construction, production décentralisée d’énergie, etc).
				</br></br>
				</p>

				<p class="quote"><b>Une vraie solution locale pour répondre au désordre global.</b></p>
			</div>
			<div class="bloc-enjeux">

				<h4>La transition écologique : </h4>
				<p>A l’heure de cette étape incontournable, enjeu majeur du 21e siècle, il est vital de développer une nouvelle économie dont le localisme n’est qu’une des pièces.
				</br>
				Ne nous trompons pas de problème, c’est bien la société qui est un sous-système de la nature et non l’inverse. Ce constat nous amène à changer notre vision du monde et de la société, il faut dorénavant dissocier création de richesses et consommation de ressources, car n’ayons pas peur des mots, la pérennité de notre espèce est lié à notre respect du vivant et de la planète.
				</br>
				La bonne nouvelle, c’est qu’on sait maintenant que la planète peut nourrir notre population, il nous manque seulement un peu d’imagination pour sortir des vieux schémas, CforGood se positionne ici pour valoriser tous les acteurs proposant des modes de vie basés sur une vision : </br>
				- Locale : Produire pour une transformation et une consommation locale.</br>
				- Circulaire : Par opposition à l’économie linéaire : prélèvement, utilisation, rejet. Oui, les déchets de l’un peuvent être les ressources de l’autre.</br>
				- Sobre : En consommation de ressources non renouvelables</br>
				- Créatrice d’emplois et de liens sociaux</br>
				- Collaborative : Mutualisation des biens et des services, promotion de l’usage plutôt que de la possession.</br>
				</p>
			</div>
			<div class="bloc-enjeux">

				<h4>L’émergence de Smart City :  </h4>
				<p>C’est le dernier pilier de notre vision, car cette transition écologique ne se fera pas sans l’émergence de territoires plus intelligents, valorisant les savoirs faire, connectant les initiatives et favorisant le partage entre ses habitants, le tout sur une échelle cohérente.
				Les nouveaux processus à imaginer se doivent ainsi de répondre à un enjeu majeur : Inventer une ville créative et durable, recentrée sur le citoyen. La Smart City (Ville Intelligente) est née de ce besoin.
				</br></br>
				A l’aide de technologies, comme celle de CforGood, elle invente de nouveaux modes de concertation et de conception de la ville, agit comme interface entre habitants et acteurs locaux, accompagne les transformations urbaines et fait émerger de nouveaux imaginaires, intègre les usages. Elle intègre les usages et donne la bonne information au bon moment pour mieux valoriser les territoires et favoriser les comportements responsables, redonnant ainsi… le pouvoir au citoyen.
				</p>

				<p class="quote"><b>La boucle est bouclée :)</b></p>
			</div>
		</section>

			</DIV>
		</section>
	</div>
</div>


</body>