<div class="photo">
  <img src="test.jpg" alt="">
</div>


<!-- prototype -->
<div id="cover-team">
  <div id="text-cover">
    <h1>L'EQUIPE CFORGOOD</h1>
    <h2>Lorem ipsum lorem ipsum</h2>
  </div>
</div>

<div class="row">
  <div class="bloc-photo-team-allan">
    <div class="photo-perso">
      <img src="images/team/allan.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Allan FLoury</h2>
          <h3>El jefe</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-Facebook.png"></a>
          <a href="#"><img src="images/team/icon-Instagram.png"></a>
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
        </div>
    </div>
  </div>

    <div class="bloc-photo-team-cedric">
    <div class="photo-perso">
      <img src="images/team/cedric.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Cédric Menteau</h2>
          <h3>maitre jedi</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-git.png"></a>
          <a href="#"><img src="images/team/icon-Instagram.png"></a>
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
        </div>
    </div>
  </div>

    <div class="bloc-photo-team-fred">
    <div class="photo-perso">
      <img src="images/team/fred.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Fred Pétris</h2>
          <h3>master Ruby</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-git.png"></a>
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
        </div>
    </div>
  </div>
</div>
<div class="row final-row">

  <div class="bloc-photo-team-damien">
    <div class="photo-perso">
      <img src="images/team/damien.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Damien Bernay</h2>
          <h3>Super stagiaire</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
          <a href="#"><img src="images/team/icon-Instagram.png"></a>
          <a href="#"><img src="images/team/icon-Facebook.png"></a>
        </div>
    </div>
  </div>

  <div class="bloc-photo-team-sarah">
    <div class="photo-perso">
      <img src="images/team/sarah.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Sarah Harmach</h2>
          <h3>Super stagiaire</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
          <a href="#"><img src="images/team/icon-Instagram.png"></a>
          <a href="#"><img src="images/team/icon-Facebook.png"></a>
        </div>
    </div>
  </div>

  <div class="bloc-photo-team-olivier">
    <div class="photo-perso">
      <img src="images/team/olivier.jpg">
    </div>

    <div class="caption">
        <div class="name-team">
          <h2 class="caption-title">Olivier Boucheau</h2>
          <h3 class="caption-h3">Super stagiaire</h3>
        </div>
        <div class="social">
          <a href="#"><img src="images/team/icon-linkedin.png"></a>
          <a href="#"><img src="images/team/icon-Instagram.png"></a>
          <a href="#"><img src="images/team/icon-git.png"></a>
        </div>
    </div>
  </div>
</div>


<!-- prototype -->



</body>
</html>